<template>
	<div class="container">
		<section class="content">
			<button type="button" class="btn btn-block btn-danger btn-lg text-center" :disabled="counting">
				<countdown v-if="counting" :time="time" :transform="transform" @end="handleCountdownEnd">
					<template slot-scope="props">Waktu Sisa: {{ props.hours }}:{{ props.minutes }}:{{ props.seconds }}</template>
				</countdown>
				<span v-else>:: DONE ::</span>
			</button>

			<div v-if="instruksi1">
				<div class="box box-default color-palette-box">
					<div class="box-header with-border">
						<h3>Contoh Soal satu</h3>
					</div>
				</div>
				<div class="box-body">
					<p>Instruksi sub-test 1:</p>
					<p>Anda diminta melihat gambar-gambar yang ada. Gambar-gambar tersebut saling berkaitan dan berpola. Peserta diminta untuk melengkapi kotak yang kosong dengan pola yang tepat.</p>
					<p>Contoh:</p>
					<b-img fluid src='/storage/contoh_soal/instruksi1.png' alt="Instruksi 1"></b-img>
					<hr>
					<button type="button" class="btn btn-block btn-primary btn-lg text-center" @click="ujianinstruksi(1, 12, 3)">
					:: Mulai ::
				</button>
				</div>
			</div>

			<div v-if="instruksi2">
				<div class="box box-default color-palette-box">
					<div class="box-header with-border">
						<h3>Contoh Soal Dua</h3>
					</div>
				</div>
				<div class="box-body">
					<p>Instruksi sub-test 2:</p>
					<p>Anda diminta melihat 5 gambar yang ada. Dari kelima gambar tersebut, terdapat dua gambar yang berbeda dengan gambar-gambar lainnya. Anda diminta untuk mencari dan memilih 2 kotak tersebut.</p>
					<p>Contoh:</p>
					<b-img fluid src='/storage/contoh_soal/instruksi2.png' alt="Instruksi 2"></b-img>
					<hr>
					<button type="button" class="btn btn-block btn-primary btn-lg text-center" @click="ujianinstruksi(2, 14, 4)">
					:: Mulai ::
				</button>
				</div>
			</div>

			<div v-if="instruksi3">
				<div class="box box-default color-palette-box">
					<div class="box-header with-border">
						<h3>Contoh Soal Tiga</h3>
					</div>
				</div>
				<div class="box-body">
					<p>Instruksi sub-test 3:</p>
					<p>Silahkan melihat kotak yang ada di sebelah kiri. Dari kotak-kotak tersebut, terdapat kotak yang memiliki gambar dan kotak yang tidak memiliki gambar. Anda diminta untuk melengkapi kotak yang tidak memiliki gambar berdasarkan pola dari gambar yang tersedia.</p>
					<p>Contoh:</p>
					<b-img fluid src='/storage/contoh_soal/instruksi3.png' alt="Instruksi 3"></b-img>
					<hr>
					<button type="button" class="btn btn-block btn-primary btn-lg text-center" @click="ujianinstruksi(3, 12, 3)">
					:: Mulai ::
				</button>
				</div>
			</div>

			<div v-if="instruksi4">
				<div class="box box-default color-palette-box">
					<div class="box-header with-border">
						<h3>Contoh Soal Empat</h3>
					</div>
				</div>
				<div class="box-body">
					<p>Instruksi sub-test 4:</p>
					<p>Silahkan melihat kotak soal yang ada di sebelah kiri. Di dalam kotak tersebut terdapat sebuah titik. Kemudian lihatlah kotak-kotak jawaban di sebelah kanan. Anda diminta untuk memilih pada kotak mana titik tersebut juga dapat diletakkan seperti kotak soal</p>
					<p>Contoh:</p>
					<b-img fluid src='/storage/contoh_soal/instruksi4.png' alt="Instruksi 4"></b-img>
					<hr>
					<button type="button" class="btn btn-block btn-primary btn-lg text-center" @click="ujianinstruksi(4, 8, 2.5)">
					:: Mulai ::
				</button>
				</div>
			</div>

			<div v-if="counting">
				<div v-for="(ujian, index) in ujians">
					<div class="box box-default color-palette-box" :class="'ujian_'+ujian.id">
						
							<div class="box-header with-border">
								<template v-if="ujian.soal_testiq.soal != null || ujian.soal_testiq.soal_gambar != null">
									<h3 class="box-title">{{index + 1}}. {{ ujian.soal_testiq.soal }}</h3>
									<template v-if="ujian.soal_testiq.soal_gambar != null">
										<br>
										<b-img fluid :src="'/storage/soal/'+ ujian.soal_testiq.soal_gambar" alt="Soal"></b-img>
									</template>
								</template>
								<template v-else>
									<h3 class="box-title">Soal Nomor {{index + 1}}.</h3>
								</template>
							</div>
						
						<div class="box-body">
							<form role="form">
								<div class="form-group">
									<template v-if="ujian.soal_testiq.pilihan_a != null || ujian.soal_testiq.pilihan_a_gambar != null">
										<div class="radio">
											A. 
											<label>
												<input type="radio" v-on:click="pilihan(ujian.id, 'a')" :name="'pilihan_'+ujian.id" :id="'pilihan_'+ujian.id" value="a" :checked="ujian.jawaban == 'a'">
												<template v-if="ujian.soal_testiq.pilihan_a != null">
													{{ ujian.soal_testiq.pilihan_a }}
												</template>
												<template v-if="ujian.soal_testiq.pilihan_a_gambar != null">
													<b-img fluid :src="'/storage/soal/'+ ujian.soal_testiq.pilihan_a_gambar" alt="Pilihan A"></b-img>
												</template>
											</label>
										</div>
									</template>
									<template v-if="ujian.soal_testiq.pilihan_b != null || ujian.soal_testiq.pilihan_b_gambar != null">
										<div class="radio">
											B. 
											<label>
												<input type="radio" v-on:click="pilihan(ujian.id, 'b')" :name="'pilihan_'+ujian.id" :id="'pilihan_'+ujian.id" value="b" :checked="ujian.jawaban == 'b'">
												<template v-if="ujian.soal_testiq.pilihan_b != null">
													{{ ujian.soal_testiq.pilihan_b }}
												</template>
												<template v-if="ujian.soal_testiq.pilihan_b_gambar != null">
													<b-img fluid :src="'/storage/soal/'+ ujian.soal_testiq.pilihan_b_gambar" alt="Pilihan B"></b-img>
												</template>
											</label>
										</div>
									</template>
									<template v-if="ujian.soal_testiq.pilihan_c != null || ujian.soal_testiq.pilihan_c_gambar != null">
										<div class="radio">
											C. 
											<label>
												<input type="radio" v-on:click="pilihan(ujian.id, 'c')" :name="'pilihan_'+ujian.id" :id="'pilihan_'+ujian.id" value="c" :checked="ujian.jawaban == 'c'">
												<template v-if="ujian.soal_testiq.pilihan_c != null">
													{{ ujian.soal_testiq.pilihan_c }}
												</template>
												<template v-if="ujian.soal_testiq.pilihan_c_gambar != null">
													<b-img fluid :src="'/storage/soal/'+ ujian.soal_testiq.pilihan_c_gambar" alt="Pilihan C"></b-img>
												</template>
											</label>
										</div>
									</template>
									<template v-if="ujian.soal_testiq.pilihan_d != null || ujian.soal_testiq.pilihan_d_gambar != null">
										<div class="radio">
											D. 
											<label>
												<input type="radio" v-on:click="pilihan(ujian.id, 'd')" :name="'pilihan_'+ujian.id" :id="'pilihan_'+ujian.id" value="d" :checked="ujian.jawaban == 'd'">
												<template v-if="ujian.soal_testiq.pilihan_d != null">
													{{ ujian.soal_testiq.pilihan_d }}
												</template>
												<template v-if="ujian.soal_testiq.pilihan_d_gambar != null">
													<b-img fluid :src="'/storage/soal/'+ ujian.soal_testiq.pilihan_d_gambar" alt="Pilihan D"></b-img>
												</template>
											</label>
										</div>
									</template>
									<template v-if="ujian.soal_testiq.pilihan_e != null || ujian.soal_testiq.pilihan_e_gambar != null">
										<div class="radio">
											E. 
											<label>
												<input type="radio" v-on:click="pilihan(ujian.id, 'e')" :name="'pilihan_'+ujian.id" :id="'pilihan_'+ujian.id" value="e" :checked="ujian.jawaban == 'e'">
												<template v-if="ujian.soal_testiq.pilihan_e != null">
													{{ ujian.soal_testiq.pilihan_e }}
												</template>
												<template v-if="ujian.soal_testiq.pilihan_e_gambar != null">
													<b-img fluid :src="'/storage/soal/'+ ujian.soal_testiq.pilihan_e_gambar" alt="Pilihan E"></b-img>
												</template>
											</label>
										</div>
									</template>
									<template v-if="ujian.soal_testiq.pilihan_f != null || ujian.soal_testiq.pilihan_f_gambar != null">
										<div class="radio">
											E. 
											<label>
												<input type="radio" v-on:click="pilihan(ujian.id, 'f')" :name="'pilihan_'+ujian.id" :id="'pilihan_'+ujian.id" value="f" :checked="ujian.jawaban == 'f'">
												<template v-if="ujian.soal_testiq.pilihan_f != null">
													{{ ujian.soal_testiq.pilihan_f }}
												</template>
												<template v-if="ujian.soal_testiq.pilihan_f_gambar != null">
													<b-img fluid :src="'/storage/soal/'+ ujian.soal_testiq.pilihan_f_gambar" alt="Pilihan F"></b-img>
												</template>
											</label>
										</div>
									</template>
								</div>
							</form>
						</div>
					</div>
				</div>

				<button type="button" class="btn btn-block btn-primary btn-lg text-center" @click="handleCountdownEnd2">
					:: Selesai ::
				</button>
			</div>
			<div v-if="finish">
				<div class="box box-danger color-palette-box">
					<div class="box-header with-border text-center">
						<h3 class="box-title">UJIAN SUDAH USAI...</h3>
					</div>
					<div class="box-body">
						<h4 class="text-center">Terima kasih sudah mengikuti ujian dari kami.</h4>
						<router-link :to="{ name: 'home' }" class="btn btn-block btn-success btn-lg text-center"><i class="fa fa-arrow-circle-left"></i> Kembali</router-link>
					</div>
				</div>
			</div>
		</section>
    </div>
</template>

<script>
	import { mapActions, mapState } from 'vuex'

	export default {
	    name: 'UjianTestIQ',

	    data: function() {
	    	return {
	    		instruksi: '',
	    		instruksi1: true,
	    		instruksi2: false,
	    		instruksi3: false,
	    		instruksi4: false,
	    		finish: false,
	    		counting: false,
	    		time: 60000
	    	}
	    },

	    computed: {
	    	...mapState('home', {
	            ujians: state => state.ujians //STATE YANG MENYIMPAN DATA
	        }),
	    },

	    methods: {
	    	...mapActions('home', ['getUjian2', 'getJawaban', 'handleEnd']), //MEMANGGIL FUNGSI YANG ADA DI STORE
		    
		    pilihan(id, jawaban){
	            this.getJawaban({
	            	id: id,
	                jawaban: jawaban
	            })
	            .then(() => {
	            	console.log(id +' saving...')
	            })
		    },

		    handleCountdownEnd: function () {
		    	this.counting = false;
		    	this.time = 0;
		    	if(this.instruksi == 1) {
		    		this.instruksi2 = true
		    	} else if(this.instruksi == 2){
		    		this.instruksi3 = true
		    	} else if(this.instruksi == 3){
		    		this.instruksi4 = true
		    	} else {
		    		this.handleEnd(this.$route.params.id)
			    	.then(() => {
			    		console.log('Selesai...');
			    		this.finish = true
			    	})
		    	}
		    },

		    handleCountdownEnd2: function(){
		    	this.$swal({
                    title: 'Kamu Yakin?',
                    text: "Jika anda menekan tombol ini, anda sudah menyelesaikan ujian tahap ini",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Iya, Lanjutkan!'
                }).then((result) => {
                    this.counting = false;
			    	this.time = 0;
			    	if(this.instruksi == 1) {
			    		this.instruksi2 = true
			    	} else if(this.instruksi == 2){
			    		this.instruksi3 = true
			    	} else if(this.instruksi == 3){
			    		this.instruksi4 = true
			    	} else {
			    		this.handleEnd(this.$route.params.id)
				    	.then(() => {
				    		console.log('Selesai...');
				    		this.finish = true
				    	})
			    	}
                })
		    },

		    ujianinstruksi: function (instruksi, jumlah, menit) {
		    	this.$swal({
                    title: 'Instruksi',
                    text: "Apakah anda sudah siap menyelesaikan soal-soal berikut ini..?",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Iya, Lanjutkan!'
                }).then((result) => {
                    if (result.value) {
                    	this.counting = false;
	    				this.time = 0;
	    				this.getUjian2({
	    					id: this.$route.params.id,
			            	instruksi: instruksi,
			            	jumlah: jumlah,
			            	menit: menit
			            })
				    	.then((res) => {
				    		this.$swal(
                                'Selamat!',
                                'Selamat Mengikuti Ujian...',
                                'success'
                                )
				    		this.counting = true
				    		this.time = res.countdown

				    		if(res.instruksi == 1){
					    		this.instruksi1 = false
				    		} else if(res.instruksi == 2){
				    			this.instruksi2 = false
				    		} else if(res.instruksi == 3){
				    			this.instruksi3 = false
				    		} else if(res.instruksi == 4){
				    			this.instruksi4 = false
				    		}

				    		this.instruksi = res.instruksi
				    		console.log(res);
				    	})
                    }
                })
		    },

		    transform(props) {
		    	Object.entries(props).forEach(([key, value]) => {
				// Adds leading zero
				const digits = value < 10 ? `0${value}` : value;

				// uses singular form when the value is less than 2
				//const word = value < 2 ? key.replace(/s$/, '') : key;

				//props[key] = `${digits} ${word}`;
				props[key] = `${digits}`;
				});

		    	return props;
		    }
	    }

	}
</script>