<template>
	<div class="container">
		<section class="content">
			<button type="button" class="btn btn-block btn-danger btn-lg text-center" :disabled="counting">
				<countdown v-if="counting" :time="time" :transform="transform" @end="handleCountdownEnd">
					<template slot-scope="props">Waktu Sisa: {{ props.hours }}:{{ props.minutes }}:{{ props.seconds }}</template>
				</countdown>
				<span v-else>:: DONE ::</span>
			</button>

			<div v-if="counting">
				<div v-for="(ujian, index) in ujians">
					<div class="box box-default color-palette-box" :class="'ujian_'+ujian.id">
						<div class="box-header with-border">
							<h3 class="box-title">{{index + 1}}. {{ ujian.soal_testiq.soal }}</h3>
							<template v-if="ujian.soal_testiq.soal_gambar != null">
								<br>
								<b-img fluid :src="'/storage/soal/'+ ujian.soal_testiq.soal_gambar" alt="Soal"></b-img>
							</template>
						</div>
						<div class="box-body">
							<form role="form">
								<div class="form-group">
									<template v-if="ujian.soal_testiq.pilihan_a != null || ujian.soal_testiq.pilihan_a_gambar != null">
										<div class="radio">
											A. 
											<label>
												<input type="radio" v-on:click="pilihan(ujian.id, 'a')" :name="'pilihan_'+ujian.id" :id="'pilihan_'+ujian.id" value="a" :checked="ujian.jawaban == 'a'">
												<template v-if="ujian.soal_testiq.pilihan_a != null">
													{{ ujian.soal_testiq.pilihan_a }}
												</template>
												<template v-if="ujian.soal_testiq.pilihan_a_gambar != null">
													<b-img fluid :src="'/storage/soal/'+ ujian.soal_testiq.pilihan_a_gambar" alt="Pilihan A"></b-img>
												</template>
											</label>
										</div>
									</template>
									<template v-if="ujian.soal_testiq.pilihan_b != null || ujian.soal_testiq.pilihan_b_gambar != null">
										<div class="radio">
											B. 
											<label>
												<input type="radio" v-on:click="pilihan(ujian.id, 'b')" :name="'pilihan_'+ujian.id" :id="'pilihan_'+ujian.id" value="b" :checked="ujian.jawaban == 'b'">
												<template v-if="ujian.soal_testiq.pilihan_b != null">
													{{ ujian.soal_testiq.pilihan_b }}
												</template>
												<template v-if="ujian.soal_testiq.pilihan_b_gambar != null">
													<b-img fluid :src="'/storage/soal/'+ ujian.soal_testiq.pilihan_b_gambar" alt="Pilihan B"></b-img>
												</template>
											</label>
										</div>
									</template>
									<template v-if="ujian.soal_testiq.pilihan_c != null || ujian.soal_testiq.pilihan_c_gambar != null">
										<div class="radio">
											C. 
											<label>
												<input type="radio" v-on:click="pilihan(ujian.id, 'c')" :name="'pilihan_'+ujian.id" :id="'pilihan_'+ujian.id" value="c" :checked="ujian.jawaban == 'c'">
												<template v-if="ujian.soal_testiq.pilihan_c != null">
													{{ ujian.soal_testiq.pilihan_c }}
												</template>
												<template v-if="ujian.soal_testiq.pilihan_c_gambar != null">
													<b-img fluid :src="'/storage/soal/'+ ujian.soal_testiq.pilihan_c_gambar" alt="Pilihan C"></b-img>
												</template>
											</label>
										</div>
									</template>
									<template v-if="ujian.soal_testiq.pilihan_d != null || ujian.soal_testiq.pilihan_d_gambar != null">
										<div class="radio">
											D. 
											<label>
												<input type="radio" v-on:click="pilihan(ujian.id, 'd')" :name="'pilihan_'+ujian.id" :id="'pilihan_'+ujian.id" value="d" :checked="ujian.jawaban == 'd'">
												<template v-if="ujian.soal_testiq.pilihan_d != null">
													{{ ujian.soal_testiq.pilihan_d }}
												</template>
												<template v-if="ujian.soal_testiq.pilihan_d_gambar != null">
													<b-img fluid :src="'/storage/soal/'+ ujian.soal_testiq.pilihan_d_gambar" alt="Pilihan D"></b-img>
												</template>
											</label>
										</div>
									</template>
									<template v-if="ujian.soal_testiq.pilihan_e != null || ujian.soal_testiq.pilihan_e_gambar != null">
										<div class="radio">
											E. 
											<label>
												<input type="radio" v-on:click="pilihan(ujian.id, 'e')" :name="'pilihan_'+ujian.id" :id="'pilihan_'+ujian.id" value="e" :checked="ujian.jawaban == 'e'">
												<template v-if="ujian.soal_testiq.pilihan_e != null">
													{{ ujian.soal_testiq.pilihan_e }}
												</template>
												<template v-if="ujian.soal_testiq.pilihan_e_gambar != null">
													<b-img fluid :src="'/storage/soal/'+ ujian.soal_testiq.pilihan_e_gambar" alt="Pilihan E"></b-img>
												</template>
											</label>
										</div>
									</template>
								</div>
							</form>
						</div>
					</div>
				</div>

				<button type="button" class="btn btn-block btn-primary btn-lg text-center" @click="handleCountdownEnd2">
					:: Selesai ::
				</button>
			</div>
			<div v-else>
				<div class="box box-danger color-palette-box">
					<div class="box-header with-border text-center">
						<h3 class="box-title">UJIAN SUDAH USAI...</h3>
					</div>
					<div class="box-body">
						<h4 class="text-center">Terima kasih sudah mengikuti ujian dari kami.</h4>
						<router-link :to="{ name: 'home' }" class="btn btn-block btn-success btn-lg text-center"><i class="fa fa-arrow-circle-left"></i> Kembali</router-link>
					</div>
				</div>
			</div>
		</section>
    </div>
</template>

<script>
	import { mapActions, mapState } from 'vuex'

	export default {
	    name: 'UjianTestIQ',

	    created() {
	        this.getUjian(this.$route.params.id) //KETIKA PAGE DI-LOAD, FUNGSI UNTUK MENGAMBIL DATA DIJALANKAN
	        this.startCountdown(this.$route.params.id)
	    },

	    data: function() {
	    	return {
	    		counting: false,
	    		time: 3000
	    	}
	    },

	    
	    computed: {
	    	...mapState('home', {
	            ujians: state => state.ujians //STATE YANG MENYIMPAN DATA
	        }),
	    },

	    methods: {
	    	...mapActions('home', ['getUjian', 'getJawaban', 'handleEnd']), //MEMANGGIL FUNGSI YANG ADA DI STORE
		    
		    pilihan(id, jawaban){
	            this.getJawaban({
	            	id: id,
	                jawaban: jawaban
	            })
	            .then(() => {
	            	console.log(id +' saving...')
	            })
		    },

		    startCountdown: function (id) {
		    	this.counting = true
		    	this.getUjian(id).then((res) => {
	                this.time = res.countdown
	            })
		    },

		    handleCountdownEnd: function () {
		    	this.counting = false;
		    	this.time = 0;
		    	this.handleEnd(this.$route.params.id)
		    	.then(() => {
		    		console.log('Selesai...');
		    	})
		    },

		    handleCountdownEnd2: function () {
		    	this.$swal({
                    title: 'Kamu Yakin?',
                    text: "Jika anda menekan tombol ini, anda sudah menyelesaikan ujian",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Iya, Lanjutkan!'
                }).then((result) => {
                    if (result.value) {
                    	this.counting = false;
	    				this.time = 0;
                        this.handleEnd(this.$route.params.id)
				    	.then(() => {
				    		this.$swal(
                                'Berhasil!',
                                'Selamat Anda Sudah Mengikuti Ujian...',
                                'success'
                                )
				    		console.log('Selesai...');
				    	})
                    }
                })
		    },

		    transform(props) {
		    	Object.entries(props).forEach(([key, value]) => {
				// Adds leading zero
				const digits = value < 10 ? `0${value}` : value;

				// uses singular form when the value is less than 2
				//const word = value < 2 ? key.replace(/s$/, '') : key;

				//props[key] = `${digits} ${word}`;
				props[key] = `${digits}`;
				});

		    	return props;
		    }
	    }

	}
</script>