<template>
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Ranah Admin</h3>
        </div>
        <div class="box-body">
        	<div class="callout callout-info">
                <h4>Tip!</h4>
                <p>Add the layout-top-nav class to the body tag to get this layout. This feature can also be used with a
                    sidebar! So use this class if you want to remove the custom dropdown menus from the navbar and use regular
                    links instead.</p>
            </div>
        </div>
    </div>
</template>