<template>
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Daftar Ujian</h3>
        </div>
        <div class="box-body">
        	<!-- BAGIAN INI AKAN MENAMPILKAN DATA LIST JOB SEEKER DALAM BENTUK TABLE -->
            <b-table striped hover bordered :items="ujians.data" :fields="fields" show-empty>
              
              <!-- KITA MENGGUNAKAN CUSTOM TEMPLATE KARENA AKAN MENAMPILKAN GAMBAR -->
                <template v-slot:cell(index)="row">
                    {{ row.index + 1 }}
                </template>
                
                <template v-slot:cell(actions)="row">
                    <span v-if="row.item.status == 0">

                        <countdown :auto-start="true" :time="row.item.countdown" :transform="transform" @end="handleCountdownEnd">
                            <template slot-scope="props">
                                <div v-if="props.totalSeconds != 0">
                                    <button class="btn btn-danger btn-sm" @click="ikutUjian(row.item.id, row.item.test_list_id)"><i class="fa fa-play"></i> Mulai </button> 
                                    <b>Waktu Sisa :</b> - {{ props.hours }}:{{ props.minutes }}:{{ props.seconds }}
                                </div>
                                <div v-else>
                                    <button class="btn btn-warning btn-sm"><i class="fa fa-arrow-circle-left"></i> Selesai </button>
                                </div>
                            </template>
                        </countdown>
                    </span>
                    <span v-else-if="row.item.status == 1">
                        <button class="btn btn-success btn-sm" @click="continueTest(row.item.id, row.item.test_list_id)"><i class="fa fa-bolt"></i> Berlangsung </button>
                    </span>
                    <span v-else>
                        <button class="btn btn-warning btn-sm"><i class="fa fa-minus-square"></i> Selesai </button>
                    </span>
                </template>
            </b-table>
        </div>
    </div>
</template>

<script>
    import { mapActions, mapState } from 'vuex'

    export default {
        name: 'DataHome',
        created() {
            this.getHomes() //KETIKA PAGE DI-LOAD, FUNGSI UNTUK MENGAMBIL DATA DIJALANKAN
        },
        data() {
            return {
                //FIELD TABLE YANG AKAN DITAMPILKAN DATANYA
                fields: [
                    { key: 'index', label: 'No' },
                    { key: 'test_list_name', label: 'Jenis Ujian' },
                    { key: 'actions', label: 'Aksi' }
                ],
                search: '',

                counting: false,
            
            }
        },
        computed: {
            ...mapState('home', {
                ujians: state => state.ujians //STATE YANG MENYIMPAN DATA KURIR
            }),

            ...mapState('user', {
                authenticated: state => state.authenticated
            }),

            //STATE PAGE UNTUK MENGAMBIL DAN MENGUBAH DATA STATE
            page: {
                get() {
                    return this.$store.state.home.page
                },
                set(val) {
                    this.$store.commit('home/SET_PAGE', val)
                }
            }
        },

        watch: {
            //KETIKA TERJADI PERUBAHAN VALUE DARI PAGE
            page() {
                this.getHomes() //MAKA FUNGSI INI DIJALANKAN
            },
            //KETIKA TERJADI PERUBAHAN VALUE DARI SEARCH BOX
            search() {
                this.getHomes(this.search) //FUNGSI INI DIJALANKAN
            }
        },

        methods: {
            ...mapActions('home', ['getHomes', 'editHome']), //MEMANGGIL FUNGSI YANG ADA DI STORE JOB SEEKER
            
            //FUNGSI DELETE YANG AKAN DIBAHAS NANTINYA
            ikutUjian(id, test_list_id) {
                this.$swal({
                    title: 'Kamu Yakin?',
                    text: "Jika anda menekan tombol ini, anda harus menyelesaikan ujian sampai selesai",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Iya, Lanjutkan!'
                }).then((result) => {
                    if (result.value) {
                        this.editHome(id).then((response) => {
                            this.$swal(
                                'Berhasil!',
                                'Selamat Ujian...',
                                'success'
                            )

                            if(test_list_id === 1){
                                this.$router.push({ name: 'ujiantestiq', params: {id: response.id} })
                            }else if(test_list_id === 2){
                                this.$router.push({ name: 'Ujian.PapiKostickTest', params: {id: response.id} })    
                            }

                        })
                    }
                })
            },

            continueTest(id, test_list_id){
                this.$swal({
                    title: 'Ujian sedang Berlangsung?',
                    text: "Apakah anda ingin melanjutkan Ujian...?",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Iya, Lanjutkan!'
                }).then((result) => {
                    if (result.value) {
                        if(test_list_id === 1){
                            this.$router.push({ name: 'ujiantestiq', params: {id: id} })
                        }else if(test_list_id === 2){
                            this.$router.push({ name: 'Ujian.PapiKostickTest' })    
                        }
                    }
                })
            },

            handleCountdownEnd: function () {
                this.counting = false;
            },

            transform(props) {
                Object.entries(props).forEach(([key, value]) => {
                // Adds leading zero
                const digits = value < 10 ? `0${value}` : value;

                // uses singular form when the value is less than 2
                //const word = value < 2 ? key.replace(/s$/, '') : key;

                //props[key] = `${digits} ${word}`;
                props[key] = `${digits}`;
                });

                return props;
            }
        }
    }
</script>