<template>
    <div class="container">
        <section class="content-header">
            <h1>
                BERANDA
            </h1>
            <breadcrumb></breadcrumb>
        </section>

        <section class="content">
            <div class="row">
            	<div class="col-md-12">
	                <job-seeker-layer v-if="authenticated.role == 3">
	                </job-seeker-layer>
	                <general-layer v-else>
	                </general-layer>
                </div>
            </div>
        </section>
    </div>
</template>
<script>
	import { mapState } from 'vuex'

    import Breadcrumb from '../../components/Breadcrumb.vue'
    import GeneralLayer from './layer/General.vue'
    import JobSeekerLayer from './layer/JobSeeker.vue'

    export default {
        name: 'IndexHome',
        computed: {
            ...mapState('user', {
                authenticated: state => state.authenticated
            }),
        },
        components: {
            'breadcrumb': Breadcrumb,
            'general-layer': GeneralLayer,
            'job-seeker-layer': JobSeekerLayer
        }
    }
</script>
