<template>
	<div class="col-md-12">
		<b-table responsive striped hover bordered show-empty :fields="fields" :items="items">
			<template v-slot:cell(count_chosen_letters)="row">
        		{{ getCountOfAnswersAspects(row.item.letter) }}
        	</template>

        	<template v-slot:cell(not_good)="row">
        		<i class='fa fa-check-circle-o text-danger' v-if="judge('not_good', row.item.reverse, getCountOfAnswersAspects(row.item.letter)) == 'X'">
        		</i>
        	</template>

        	<template v-slot:cell(almost_good)="row">
        		<i class='fa fa-check-circle-o text-warning' v-if="judge('almost_good', row.item.reverse, getCountOfAnswersAspects(row.item.letter)) == 'X'">
        		</i>
        	</template>

        	<template v-slot:cell(enough)="row">
        		<i class='fa fa-check-circle-o text-success' v-if="judge('enough', row.item.reverse, getCountOfAnswersAspects(row.item.letter)) == 'X'">
        		</i>
        	</template>

        	<template v-slot:cell(good)="row">
        		<i class='fa fa-check-circle-o text-info' v-if="judge('good', row.item.reverse, getCountOfAnswersAspects(row.item.letter)) == 'X'">
        		</i>
        	</template>

        	<template v-slot:cell(very_good)="row">
        		<i class='fa fa-check-circle-o text-primary' v-if="judge('very_good', row.item.reverse, getCountOfAnswersAspects(row.item.letter)) == 'X'">
        		</i>
        	</template>
		</b-table>
	</div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
    name: 'AssesstmentPapiKostick',

    props: ['answersCollection'],

    created() {
        this.count_chosen_aspects_by_answers()
    },

    data() {
        return {
            answersCollectionValue: [],

            //FIELD TABLE YANG AKAN DITAMPILKAN DATANYA
            fields: [
            	{ key: 'means_aspect' },
                { key: 'assessment_aspects', label: 'Aspek penilaian', colspan: '2' },
                { key: 'letter', label: 'Lambang huruf' },
                { key: 'count_chosen_letters', label: 'Jumlah Aspek yang dipilih' },
                { key: 'not_good', label: 'Tidak baik' },
                { key: 'almost_good', label: 'Kurang baik' },
                { key: 'enough', label: 'Cukup' },
                { key: 'good', label: 'Baik' },
                { key: 'very_good', label: 'Sangat baik' }
            ],

            items: [
            	{
            		means_aspect: 'Kepemimpinan',
            		assessment_aspects: 'Pengambilan keputusan',
            		letter: 'I',
            		reverse: false
            	},
            	{
            		means_aspect: 'Kepemimpinan',
            		assessment_aspects: 'Mengendalikan bawahan / orang lain',
            		letter: 'P',
            		reverse: false
            	},
            	{
            		means_aspect: 'Kepemimpinan',
            		assessment_aspects: 'Mengarahkan / mendelegasikan / mengawasi',
            		letter: 'L',
            		reverse: false
            	},

            	{
            		means_aspect: 'Gaya kerja',
            		assessment_aspects: 'Ketelitian',
            		letter: 'D',
            		reverse: false
            	},
            	{
            		means_aspect: 'Gaya kerja',
            		assessment_aspects: 'Kerapian / sistematika',
            		letter: 'C',
            		reverse: false
            	},
            	{
            		means_aspect: 'Gaya kerja',
            		assessment_aspects: 'Logika',
            		letter: 'R',
            		reverse: false
            	},

            	{
            		means_aspect: 'Arah kerja',
            		assessment_aspects: 'Keinginan bekerja keras',
            		letter: 'G',
            		reverse: false
            	},
            	{
            		means_aspect: 'Arah kerja',
            		assessment_aspects: 'Komitmen kerja',
            		letter: 'N',
            		reverse: false
            	},
            	{
            		means_aspect: 'Arah kerja',
            		assessment_aspects: 'Motivasi berprestasi',
            		letter: 'A',
            		reverse: false
            	},

            	{
            		means_aspect: 'Aktivitas',
            		assessment_aspects: 'Kecepatan / semangat kerja',
            		letter: 'V',
            		reverse: false
            	},
            	{
            		means_aspect: 'Aktivitas',
            		assessment_aspects: 'Daya tahan/ kesiapan mental',
            		letter: 'T',
            		reverse: false
            	},

            	{
            		means_aspect: 'Sifat',
            		assessment_aspects: 'Adaptasi pada perubahan',
            		letter: 'Z',
            		reverse: false
            	},
            	{
            		means_aspect: 'Sifat',
            		assessment_aspects: 'Nyaman akan situasi stabil / minim perubahan',
            		letter: 'Z',
            		reverse: true
            	},
            	{
            		means_aspect: 'Sifat',
            		assessment_aspects: 'Sensitif / Mudah terbawa perasaan',
            		letter: 'E',
            		reverse: false
            	},
            	{
            		means_aspect: 'Sifat',
            		assessment_aspects: 'Agresivitas',
            		letter: 'K',
            		reverse: true
            	},

            	{
            		means_aspect: 'Ketaatan',
            		assessment_aspects: 'Loyal / Patuh atasan',
            		letter: 'F',
            		reverse: false
            	},
            	{
            		means_aspect: 'Ketaatan',
            		assessment_aspects: 'Inisiatif / Kemandirian',
            		letter: 'W',
            		reverse: true
            	},

            	{
            		means_aspect: 'Pergaulan',
            		assessment_aspects: 'Percaya diri',
            		letter: 'X',
            		reverse: false
            	},
            	{
            		means_aspect: 'Pergaulan',
            		assessment_aspects: 'Kemampuan interpersonal',
            		letter: 'S',
            		reverse: false
            	},
            	{
            		means_aspect: 'Pergaulan',
            		assessment_aspects: 'Kesadaran membantu / Empati / Simpati',
            		letter: 'O',
            		reverse: false
            	},
            	{
            		means_aspect: 'Pergaulan',
            		assessment_aspects: 'Kerjasama',
            		letter: 'B',
            		reverse: false
            	}
            ]
        }
    },

    computed: {
        ...mapState('jobseeker', {
            scorelists: state => state.scorelists //STATE YANG MENYIMPAN DATA
        })
    },

    methods: {
		...mapActions('jobseeker', ['viewScoresOfTestLists']),

		count_chosen_aspects_by_answers(){
            var split_from_commas = this.answersCollection.split(',');

            var count_aspects = [];

            count_aspects['I'] = 0;
			count_aspects['P'] = 0;
			count_aspects['L'] = 0;
			count_aspects['D'] = 0;
			count_aspects['C'] = 0;
			count_aspects['R'] = 0;
			count_aspects['G'] = 0;
			count_aspects['N'] = 0;
			count_aspects['A'] = 0;
			count_aspects['V'] = 0;
			count_aspects['T'] = 0;
			count_aspects['Z'] = 0;
			count_aspects['E'] = 0;
			count_aspects['K'] = 0;
			count_aspects['F'] = 0;
			count_aspects['W'] = 0;
			count_aspects['X'] = 0;
			count_aspects['S'] = 0;
			count_aspects['O'] = 0;
			count_aspects['B'] = 0;

            for(var i = 0; i < split_from_commas.length; i++){

            	if(split_from_commas[i] == 'I'){
            		count_aspects['I'] = parseInt(count_aspects['I']) + parseInt(1);

            	}else if(split_from_commas[i] == 'P'){
            		count_aspects['P'] = parseInt(count_aspects['P']) + parseInt(1);

            	}else if(split_from_commas[i] == 'L'){
            		count_aspects['L'] = parseInt(count_aspects['L']) + parseInt(1);

            	}else if(split_from_commas[i] == 'D'){
            		count_aspects['D'] = parseInt(count_aspects['D']) + parseInt(1);

            	}else if(split_from_commas[i] == 'C'){
            		count_aspects['C'] = parseInt(count_aspects['C']) + parseInt(1);

            	}else if(split_from_commas[i] == 'R'){
            		count_aspects['R'] = parseInt(count_aspects['R']) + parseInt(1);

            	}else if(split_from_commas[i] == 'G'){
            		count_aspects['G'] = parseInt(count_aspects['G']) + parseInt(1);

            	}else if(split_from_commas[i] == 'N'){
            		count_aspects['N'] = parseInt(count_aspects['N']) + parseInt(1);

            	}else if(split_from_commas[i] == 'A'){
            		count_aspects['A'] = parseInt(count_aspects['A']) + parseInt(1);

            	}else if(split_from_commas[i] == 'V'){
            		count_aspects['V'] = parseInt(count_aspects['V']) + parseInt(1);

            	}else if(split_from_commas[i] == 'T'){
            		count_aspects['T'] = parseInt(count_aspects['T']) + parseInt(1);

            	}else if(split_from_commas[i] == 'Z'){
            		count_aspects['Z'] = parseInt(count_aspects['Z']) + parseInt(1);

            	}else if(split_from_commas[i] == 'E'){
            		count_aspects['E'] = parseInt(count_aspects['E']) + parseInt(1);

            	}else if(split_from_commas[i] == 'K'){
            		count_aspects['K'] = parseInt(count_aspects['K']) + parseInt(1);

            	}else if(split_from_commas[i] == 'F'){
            		count_aspects['F'] = parseInt(count_aspects['F']) + parseInt(1);

            	}else if(split_from_commas[i] == 'W'){
            		count_aspects['W'] = parseInt(count_aspects['W']) + parseInt(1);

            	}else if(split_from_commas[i] == 'X'){
            		count_aspects['X'] = parseInt(count_aspects['X']) + parseInt(1);

            	}else if(split_from_commas[i] == 'S'){
            		count_aspects['S'] = parseInt(count_aspects['S']) + parseInt(1);

            	}else if(split_from_commas[i] == 'O'){
            		count_aspects['O'] = parseInt(count_aspects['O']) + parseInt(1);

            	}else if(split_from_commas[i] == 'B'){
            		count_aspects['B'] = parseInt(count_aspects['B']) + parseInt(1);

            	}else{

            	}
            }

            this.answersCollectionValue = count_aspects
        },

        getCountOfAnswersAspects(letter){
			return this.answersCollectionValue[letter]
		},

		judge(type, isReverse, count){
			var output = "";

			var isIt = "X";

			if(type == "not_good"){
				if( isReverse == false){
					if(count <= 1) output = isIt;
				}else{
					if(count == 9) output = isIt;
				}

			}else if(type == "almost_good"){
				if( isReverse == false){
					if(count >= 2 && count <= 3) output = isIt;
				}else{
					if(count >= 7 && count <= 8) output = isIt;
				}

			}else if(type == "enough"){
				if(count >= 4 && count <= 6) output = isIt;

			}else if(type == "good"){
				if( isReverse == false){
					if(count >= 7 && count <= 8) output = isIt;
				}else{
					if(count >= 2 && count <= 3) output = isIt;
				}

			}else if(type == "very_good"){
				if( isReverse == false){
					if(count == 9) output = isIt;
				}else{
					if(count <= 1) output = isIt;
				}
			}

			return output;
		}
	}

}
</script>