<template>
	<div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <router-link :to="{ name: 'soaltestiqs.add' }" class="btn btn-primary btn-sm btn-flat">Tambah</router-link>
                <div class="pull-right">
                    <input type="text" class="form-control" placeholder="Cari..." v-model="search">
                </div>
            </div>
            <div class="panel-body">
              	
              	<!-- BAGIAN INI AKAN MENAMPILKAN DATA LIST JOB SEEKER DALAM BENTUK TABLE -->
                <b-table striped hover bordered :items="soaltestiqs.data" :fields="fields" show-empty>
                	<template v-slot:cell(index)="data">
                		{{ data.index + 1 }}
                	</template>
                	<template v-slot:cell(soal)="row">
                		{{ row.item.soal }}
                		<template v-if="row.item.soal_gambar != null">
                			<br>
							<b-img thumbnail fluid :src="'/storage/soal/'+ row.item.soal_gambar" :width="80" alt="Soal"></b-img>
                		</template>
                	</template>

                    <template v-slot:cell(pilihan_a)="row">
                    	<template v-if="row.item.pilihan_a != null">
                    		{{ row.item.pilihan_a }}
                    	</template>
                    	<template v-else-if="row.item.pilihan_a_gambar != null">
                    		<b-img thumbnail fluid :src="'/storage/soal/'+ row.item.pilihan_a_gambar" :width="80" alt="Pilihan A"></b-img>
                    	</template>
                    	<template v-else>
                    		<i> == Kosong == </i>
                    	</template>
                    </template>

                    <template v-slot:cell(pilihan_b)="row">
                    	<template v-if="row.item.pilihan_b != null">
                    		{{ row.item.pilihan_b }}
                    	</template>
                    	<template v-else-if="row.item.pilihan_b_gambar != null">
                    		<b-img thumbnail fluid :src="'/storage/soal/'+ row.item.pilihan_b_gambar" :width="80" alt="Pilihan B"></b-img>
                    	</template>
                    	<template v-else>
                    		<i> == Kosong == </i>
                    	</template>
                    </template>

                    <template v-slot:cell(pilihan_c)="row">
                    	<template v-if="row.item.pilihan_c != null">
                    		{{ row.item.pilihan_c }}
                    	</template>
                    	<template v-else-if="row.item.pilihan_c_gambar != null">
                    		<b-img thumbnail fluid :src="'/storage/soal/'+ row.item.pilihan_c_gambar" :width="80" alt="Pilihan C"></b-img>
                    	</template>
                    </template>
                    
                    <template v-slot:cell(pilihan_d)="row">
                    	<template v-if="row.item.pilihan_d != null">
                    		{{ row.item.pilihan_d }}
                    	</template>
                    	<template v-else-if="row.item.pilihan_d_gambar != null">
                    		<b-img thumbnail fluid :src="'/storage/soal/'+ row.item.pilihan_d_gambar" :width="80" alt="Pilihan D"></b-img>
                    	</template>
                    	<template v-else>
                    		<i> == Kosong == </i>
                    	</template>
                    </template>
                    
                    <template v-slot:cell(pilihan_e)="row">
                    	<template v-if="row.item.pilihan_e != null">
                    		{{ row.item.pilihan_e }}
                    	</template>
                    	<template v-else-if="row.item.pilihan_e_gambar != null">
                    		<b-img thumbnail fluid :src="'/storage/soal/'+ row.item.pilihan_e_gambar" :width="80" alt="Pilihan E"></b-img>
                    	</template>
                    	<template v-else>
                    		<i> == Kosong == </i>
                    	</template>
                    </template>
                    
                    <template v-slot:cell(actions)="row">
						<router-link :to="{ name: 'soaltestiqs.edit', params: {id: row.item.id} }" class="btn btn-warning btn-sm"><i class="fa fa-pencil"></i></router-link>
                        <button class="btn btn-danger btn-sm" @click="deleteTestIQ(row.item.id)"><i class="fa fa-trash"></i></button>
					</template>
                    <!--template slot="actions" slot-scope="row">
                        <router-link :to="{ name: 'soaltestiqs.edit', params: {id: row.fields.id} }" class="btn btn-warning btn-sm"><i class="fa fa-pencil"></i></router-link>
                        <button class="btn btn-danger btn-sm" @click="deleteTestIQ(row.fields.id)"><i class="fa fa-trash"></i></button>
                    </template--> 
                </b-table>
								
              	<!-- BERISI INFORMASI JUMLAH DATA DAN PAGINATION -->
                <div class="row">
                    <div class="col-md-6">
                        <p v-if="soaltestiqs.data"><i class="fa fa-bars"></i> {{ soaltestiqs.data.length }} item dari {{ soaltestiqs.meta.total }} total data</p>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <b-pagination
                                v-model="page"
                                :total-rows="soaltestiqs.meta.total"
                                :per-page="soaltestiqs.meta.per_page"
                                aria-controls="soaltestiqs"
                                v-if="soaltestiqs.data && soaltestiqs.data.length > 0"
                                ></b-pagination>
                        </div>
                    </div>
                </div>

                <!--div> {{ countDown }}</div-->
            </div>
        </div>
    </div>
</template>
<script>
	import { mapActions, mapState } from 'vuex'

	export default {
	    name: 'DataTestIQ',
	    created() {
	        this.getSoalTestIQ() //KETIKA PAGE DI-LOAD, FUNGSI UNTUK MENGAMBIL DATA DIJALANKAN
	        //this.countDownTimer()
	    },
	    data() {
	        return {
	            //FIELD TABLE YANG AKAN DITAMPILKAN DATANYA
	            fields: [
	                { key: 'index', label: 'No' },
	                { key: 'soal', label: 'Soal' },
	                { key: 'pilihan_a', label: 'Pilihan A' },
	                { key: 'pilihan_b', label: 'Pilihan B' },
	                { key: 'pilihan_c', label: 'Pilihan C' },
	                { key: 'pilihan_d', label: 'Pilihan D' },
	                { key: 'pilihan_e', label: 'Pilihan E' },
	                { key: 'jawaban', label: 'Jawaban' },
	                { key: 'actions', label: 'Aksi' }
	            ],
	            search: ''
	            //countDown : 20
	        }
	    },
	    computed: {
	        ...mapState('soaltestiq', {
	            soaltestiqs: state => state.soaltestiqs //STATE YANG MENYIMPAN DATA SOAL
	        }),

	        //STATE PAGE UNTUK MENGAMBIL DAN MENGUBAH DATA STATE
	        page: {
	            get() {
	                return this.$store.state.soaltestiq.page
	            },
	            set(val) {
	                this.$store.commit('soaltestiq/SET_PAGE', val)
	            }
	        }
	    },

	    watch: {
	        //KETIKA TERJADI PERUBAHAN VALUE DARI PAGE
	        page() {
	            this.getSoalTestIQ() //MAKA FUNGSI INI DIJALANKAN
	        },
	        //KETIKA TERJADI PERUBAHAN VALUE DARI SEARCH BOX
	        search() {
	            this.getSoalTestIQ(this.search) //FUNGSI INI DIJALANKAN
	        }
	    },

	    methods: {
	        ...mapActions('soaltestiq', ['getSoalTestIQ', 'removeSoalTestIQ']), //MEMANGGIL FUNGSI YANG ADA DI STORE JOB SEEKER

	        deleteTestIQ(id) {
	        	this.$swal({
	        		title: 'Kamu Yakin?',
	        		text: "Tindakan ini akan menghapus secara permanent!",
	        		type: 'warning',
	        		showCancelButton: true,
	        		confirmButtonColor: '#3085d6',
	        		cancelButtonColor: '#d33',
	        		confirmButtonText: 'Iya, Lanjutkan!'
	        	}).then((result) => {
	        		if (result.value) {
	        			this.removeSoalTestIQ(id)
	        			this.$swal(
	        				'Deleted!',
	        				'Data berhasil di Hapus.',
	        				'success'
	        				)
	        		}
	        	})
	        },

	        /*countDownTimer() {
                if(this.countDown > 0) {
                    setTimeout(() => {
                        this.countDown -= 1
                        this.countDownTimer()
                    }, 1000)
                } else {
                	alert('panggil tombol');
                }
            }*/
	    }
	}
</script>