<template>
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Edit Soal</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <soal-form ref="formEditSoalTestIQ"></soal-form>
                    <div class="form-group">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9 text-left">
                            <button class="btn btn-primary btn-sm btn-flat" @click.prevent="submit">
                                <i class="fa fa-save"></i> Update
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
    import { mapActions, mapState } from 'vuex'
    import FormSoalTestIQ from './Form.vue'
    export default {
        name: 'EditSoalTestIQ',
        methods: {
            submit() {
                this.$refs.formEditSoalTestIQ.submit()
            }
        },
        components: {
            'soal-form': FormSoalTestIQ
        }
    }
</script>
