<template>
    <div>
        <div class="form-group" :class="{ 'has-error': errors.soal }">
            <label class="col-sm-3 control-label no-padding-right"> Soal </label>
            <div class="col-sm-9">
                <textarea cols="5" rows="5" class="form-control col-xs-10 col-sm-10" v-model="soaltestiqs.soal"></textarea>
                <p class="text-danger" v-if="errors.soal">{{ errors.soal[0] }}</p>
                <input type="file" class="form-control" accept="image/*" @change="uploadSoal($event)" id="file-input">
                <p class="text-danger" v-if="errors.soal_gambar">{{ errors.soal_gambar[0] }}</p>
            </div>
        </div>
        <div class="form-group" :class="{ 'has-error': errors.pilihan_a }">
            <label class="col-sm-3 control-label no-padding-right"> Pilihan A </label>
            <div class="col-sm-9">
                <textarea cols="5" rows="5" class="form-control" v-model="soaltestiqs.pilihan_a"></textarea>
                <p class="text-danger" v-if="errors.pilihan_a">{{ errors.pilihan_a[0] }}</p>
                <input type="file" class="form-control" accept="image/*" @change="uploadPilihanA($event)" id="file-input">
                <p class="text-danger" v-if="errors.pilihan_a_gambar">{{ errors.pilihan_a_gambar[0] }}</p>
            </div>
        </div>
        <div class="form-group" :class="{ 'has-error': errors.pilihan_b }">
            <label class="col-sm-3 control-label no-padding-right"> Pilihan B </label>
            <div class="col-sm-9">
                <textarea cols="5" rows="5" class="form-control" v-model="soaltestiqs.pilihan_b"></textarea>
                <p class="text-danger" v-if="errors.pilihan_b">{{ errors.pilihan_b[0] }}</p>
                <input type="file" class="form-control" accept="image/*" @change="uploadPilihanB($event)" id="file-input">
                <p class="text-danger" v-if="errors.pilihan_b_gambar">{{ errors.pilihan_b_gambar[0] }}</p>
            </div>
        </div>
        <div class="form-group" :class="{ 'has-error': errors.pilihan_c }">
            <label class="col-sm-3 control-label no-padding-right"> Pilihan C </label>
            <div class="col-sm-9">
                <textarea cols="5" rows="5" class="form-control" v-model="soaltestiqs.pilihan_c"></textarea>
                <p class="text-danger" v-if="errors.pilihan_c">{{ errors.pilihan_c[0] }}</p>
                <input type="file" class="form-control" accept="image/*" @change="uploadPilihanC($event)" id="file-input">
                <p class="text-danger" v-if="errors.pilihan_c_gambar">{{ errors.pilihan_c_gambar[0] }}</p>
            </div>
        </div>
        <div class="form-group" :class="{ 'has-error': errors.pilihan_d }">
            <label class="col-sm-3 control-label no-padding-right"> Pilihan D </label>
            <div class="col-sm-9">
                <textarea cols="5" rows="5" class="form-control" v-model="soaltestiqs.pilihan_d"></textarea>
                <p class="text-danger" v-if="errors.pilihan_d">{{ errors.pilihan_d[0] }}</p>
                <input type="file" class="form-control" accept="image/*" @change="uploadPilihanD($event)" id="file-input">
                <p class="text-danger" v-if="errors.pilihan_d_gambar">{{ errors.pilihan_d_gambar[0] }}</p>
            </div>
        </div>
        <div class="form-group" :class="{ 'has-error': errors.pilihan_e }">
            <label class="col-sm-3 control-label no-padding-right"> Pilihan E </label>
            <div class="col-sm-9">
                <textarea cols="5" rows="5" class="form-control" v-model="soaltestiqs.pilihan_e"></textarea>
                <p class="text-danger" v-if="errors.pilihan_e">{{ errors.pilihan_e[0] }}</p>
                <input type="file" class="form-control" accept="image/*" @change="uploadPilihanE($event)" id="file-input">
                <p class="text-danger" v-if="errors.pilihan_e_gambar">{{ errors.pilihan_e_gambar[0] }}</p>
            </div>
        </div>
        <div class="form-group" :class="{ 'has-error': errors.pilihan_f }">
            <label class="col-sm-3 control-label no-padding-right"> Pilihan F </label>
            <div class="col-sm-9">
                <textarea cols="5" rows="5" class="form-control" v-model="soaltestiqs.pilihan_f"></textarea>
                <p class="text-danger" v-if="errors.pilihan_f">{{ errors.pilihan_f[0] }}</p>
                <input type="file" class="form-control" accept="image/*" @change="uploadPilihanF($event)" id="file-input">
                <p class="text-danger" v-if="errors.pilihan_f_gambar">{{ errors.pilihan_f_gambar[0] }}</p>
            </div>
        </div>

        <div class="form-group" :class="{ 'has-error': errors.jawaban }">
            <label class="col-sm-3 control-label no-padding-right"> Jawaban </label>
            <div class="col-sm-9">
                <select class="form-control" v-model="soaltestiqs.jawaban">
                    <option value=""> == Pilih ==</option>
                    <option value="a"> A </option>
                    <option value="b"> B </option>
                    <option value="c"> C </option>
                    <option value="d"> D </option>
                    <option value="e"> E </option>
                    <option value="f"> F </option>
                </select>
                <p class="text-danger" v-if="errors.jawaban">{{ errors.jawaban[0] }}</p>
            </div>
        </div>

        <div class="form-group" :class="{ 'has-error': errors.jenis }">
            <label class="col-sm-3 control-label no-padding-right"> Jenis Soal </label>
            <div class="col-sm-9">
                <select class="form-control" v-model="soaltestiqs.jenis">
                    <option value=""> == Pilih ==</option>
                    <option value="1"> Series </option>
                    <option value="2"> Clasification </option>
                    <option value="3"> Matrices </option>
                    <option value="4"> Conditions/topology </option>
                </select>
                <p class="text-danger" v-if="errors.jenis">{{ errors.jenis[0] }}</p>
            </div>
        </div>
        
    </div>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'
export default {
    name: 'FormSoalTestIQ',
    created() {
        if (this.$route.name == 'soaltestiqs.edit') {
            this.editSoalTestIQ(this.$route.params.id).then((res) => {
                this.soaltestiqs = {
                    soal: res.data.soal,
                    soal_gambar: res.data.soal_gambar,
                    pilihan_a: res.data.pilihan_a,
                    pilihan_a_gambar: res.data.pilihan_a_gambar,
                    pilihan_b: res.data.pilihan_b,
                    pilihan_b_gambar: res.data.pilihan_b_gambar,
                    pilihan_c: res.data.pilihan_c,
                    pilihan_c_gambar: res.data.pilihan_c_gambar,
                    pilihan_d: res.data.pilihan_d,
                    pilihan_d_gambar: res.data.pilihan_d_gambar,
                    pilihan_e: res.data.pilihan_e,
                    pilihan_e_gambar: res.data.pilihan_e_gambar,
                    pilihan_f: res.data.pilihan_f,
                    pilihan_f_gambar: res.data.pilihan_f_gambar,
                    jawaban: res.data.jawaban,
                    jenis: res.data.jenis
                }
            })
        }
    },
    data() {
        return {
            soaltestiqs: {
                soal: '',
                soal_gambar: '',
                pilihan_a: '',
                pilihan_a_gambar: '',
                pilihan_b: '',
                pilihan_b_gambar: '',
                pilihan_c: '',
                pilihan_c_gambar: '',
                pilihan_d: '',
                pilihan_d_gambar: '',
                pilihan_e: '',
                pilihan_e_gambar: '',
                pilihan_f: '',
                pilihan_f_gambar: '',
                jawaban: '',
                jenis: ''
            }
        }
    },
    computed: {
        ...mapState(['errors'])
    },
    methods: {
        ...mapActions('soaltestiq', ['submitSoalTestIQ', 'editSoalTestIQ', 'updateSoalTestIQ']),
        ...mapMutations('soaltestiq', ['SET_ID_UPDATE']),
        uploadSoal(event) {
            this.soaltestiqs.soal_gambar = event.target.files[0]
        },
        uploadPilihanA(event) {
            this.soaltestiqs.pilihan_a_gambar = event.target.files[0]
        },
        uploadPilihanB(event) {
            this.soaltestiqs.pilihan_b_gambar = event.target.files[0]
        },
        uploadPilihanC(event) {
            this.soaltestiqs.pilihan_c_gambar = event.target.files[0]
        },
        uploadPilihanD(event) {
            this.soaltestiqs.pilihan_d_gambar = event.target.files[0]
        },
        uploadPilihanE(event) {
            this.soaltestiqs.pilihan_e_gambar = event.target.files[0]
        },
        uploadPilihanF(event) {
            this.soaltestiqs.pilihan_f_gambar = event.target.files[0]
        },
        submit() {
            let form = new FormData()
            form.append('soal', this.soaltestiqs.soal)
            form.append('soal_gambar', this.soaltestiqs.soal_gambar)
            form.append('pilihan_a', this.soaltestiqs.pilihan_a)
            form.append('pilihan_a_gambar', this.soaltestiqs.pilihan_a_gambar)
            form.append('pilihan_b', this.soaltestiqs.pilihan_b)
            form.append('pilihan_b_gambar', this.soaltestiqs.pilihan_b_gambar)
            form.append('pilihan_c', this.soaltestiqs.pilihan_c)
            form.append('pilihan_c_gambar', this.soaltestiqs.pilihan_c_gambar)
            form.append('pilihan_d', this.soaltestiqs.pilihan_d)
            form.append('pilihan_d_gambar', this.soaltestiqs.pilihan_d_gambar)
            form.append('pilihan_e', this.soaltestiqs.pilihan_e)
            form.append('pilihan_e_gambar', this.soaltestiqs.pilihan_e_gambar)
            form.append('pilihan_f', this.soaltestiqs.pilihan_f)
            form.append('pilihan_f_gambar', this.soaltestiqs.pilihan_f_gambar)
            form.append('jawaban', this.soaltestiqs.jawaban)
            form.append('jenis', this.soaltestiqs.jenis)
            
            if (this.$route.name == 'soaltestiqs.add') {
                this.submitSoalTestIQ(form)
                .then(() => {
                    this.soaltestiqs = {
                        soal: '',
                        soal_gambar: '',
                        pilihan_a: '',
                        pilihan_a_gambar: '',
                        pilihan_b: '',
                        pilihan_b_gambar: '',
                        pilihan_c: '',
                        pilihan_c_gambar: '',
                        pilihan_d: '',
                        pilihan_d_gambar: '',
                        pilihan_e: '',
                        pilihan_e_gambar: '',
                        pilihan_f: '',
                        pilihan_f_gambar: '',
                        jawaban: '',
                        jenis: ''
                    }
                    this.$router.push({ name: 'soaltestiqs.data' })
                })
            } else if (this.$route.name == 'soaltestiqs.edit') {
                this.SET_ID_UPDATE(this.$route.params.id)
                this.updateSoalTestIQ(form).then(() => {
                    this.soaltestiqs = {
                        soal: '',
                        soal_gambar: '',
                        pilihan_a: '',
                        pilihan_a_gambar: '',
                        pilihan_b: '',
                        pilihan_b_gambar: '',
                        pilihan_c: '',
                        pilihan_c_gambar: '',
                        pilihan_d: '',
                        pilihan_d_gambar: '',
                        pilihan_e: '',
                        pilihan_e_gambar: '',
                        pilihan_f: '',
                        pilihan_f_gambar: '',
                        jawaban: '',
                        jenis: ''
                    }
                    this.$router.push({ name: 'soaltestiqs.data' })
                })
            }
        }
    },
    destroyed() {
        this.soaltestiqs = {
            soal: '',
            soal_gambar: '',
            pilihan_a: '',
            pilihan_a_gambar: '',
            pilihan_b: '',
            pilihan_b_gambar: '',
            pilihan_c: '',
            pilihan_c_gambar: '',
            pilihan_d: '',
            pilihan_d_gambar: '',
            pilihan_e: '',
            pilihan_e_gambar: '',
            pilihan_f: '',
            pilihan_f_gambar: '',
            jawaban: '',
            jenis: ''
        }
    }
}
</script>
