<template>
    <div class="col-md-12" v-if="authenticated.role == 3">
        <section class="content-header">
            <h1>
                Beranda
                <small>halaman utama</small>
            </h1>
            <ol class="breadcrumb">
                <li><router-link :to="{ name: 'home' }"><i class="fa fa-dashboard"></i> Home</router-link>
                <li class="active">Beranda</li>
            </ol>
        </section>
        <div class="panel">
            <div class="panel-heading">
                    <h3> Daftar Ujian </h3>
            </div>
            <div class="panel-body">
                
                <!-- BAGIAN INI AKAN MENAMPILKAN DATA LIST JOB SEEKER DALAM BENTUK TABLE -->
                <b-table striped hover bordered :items="ujians.data" :fields="fields" show-empty>
                  
                  <!-- KITA MENGGUNAKAN CUSTOM TEMPLATE KARENA AKAN MENAMPILKAN GAMBAR -->
                    <template v-slot:cell(index)="row">
                        {{ row.index + 1 }}
                    </template>
                    
                    <template v-slot:cell(actions)="row">
                        <span v-if="row.item.status == 0">
                            

                            <countdown :auto-start="true" :time="row.item.countdown" :transform="transform" @end="handleCountdownEnd">
                                <template slot-scope="props">
                                    <div v-if="props.totalSeconds != 0">
                                        <button class="btn btn-info btn-sm" @click="ikutUjian(row.item.id)"><i class="fa fa-cogs"></i> Mulai </button> 
                                        Waktu Sisa: - {{ props.hours }}:{{ props.minutes }}:{{ props.seconds }}
                                    </div>
                                    <div v-else>
                                        <button class="btn btn-warning btn-sm"><i class="fa fa-minus-square"></i> Selesai </button>
                                    </div>
                                </template>
                            </countdown>
                        </span>
                        <span v-else-if="row.item.status == 1">
                            <button class="btn btn-danger btn-sm" @click="langsungUjian(row.item.id)"><i class="fa fa-bolt"></i> Berlangsung </button>
                        </span>
                        <span v-else>
                            <button class="btn btn-warning btn-sm"><i class="fa fa-minus-square"></i> Selesai </button>
                        </span>
                    </template>
                </b-table>
            </div>
        </div>
    </div>

    <div class="container" v-else>
        <section class="content-header">
            <h1>
                Beranda
                <small>halaman utama</small>
            </h1>
            <ol class="breadcrumb">
                <li><router-link :to="{ name: 'home' }"><i class="fa fa-dashboard"></i> Home</router-link>
                <li class="active">Beranda</li>
            </ol>
        </section>
        <section class="content">
            <div class="callout callout-info">
                <h4>Tip!</h4>
                <p>Add the layout-top-nav class to the body tag to get this layout. This feature can also be used with a
                    sidebar! So use this class if you want to remove the custom dropdown menus from the navbar and use regular
                    links instead.</p>
            </div>
            <div class="callout callout-danger">
                <h4>Warning!</h4>

                <p>The construction of this layout differs from the normal one. In other words, the HTML markup of the navbar
                    and the content will slightly differ than that of the normal layout.</p>
            </div>
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Blank Box</h3>
                </div>
                <div class="box-body">
                    The great content goes here
                </div>
            </div>
        </section>
    </div>
</template>
<script>
    import { mapActions, mapState } from 'vuex'

    export default {
        name: 'DataHome',
        created() {
            this.getHomes() //KETIKA PAGE DI-LOAD, FUNGSI UNTUK MENGAMBIL DATA DIJALANKAN
        },
        data() {
            return {
                //FIELD TABLE YANG AKAN DITAMPILKAN DATANYA
                fields: [
                    { key: 'index', label: 'No' },
                    { key: 'ujianjenis_name', label: 'Jenis Ujian' },
                    { key: 'actions', label: 'Aksi' }
                ],
                search: '',

                counting: false,
            
            }
        },
        computed: {
            ...mapState('home', {
                ujians: state => state.ujians //STATE YANG MENYIMPAN DATA KURIR
            }),

            ...mapState('user', {
                authenticated: state => state.authenticated
            }),

            //STATE PAGE UNTUK MENGAMBIL DAN MENGUBAH DATA STATE
            page: {
                get() {
                    return this.$store.state.home.page
                },
                set(val) {
                    this.$store.commit('home/SET_PAGE', val)
                }
            }
        },

        watch: {
            //KETIKA TERJADI PERUBAHAN VALUE DARI PAGE
            page() {
                this.getHomes() //MAKA FUNGSI INI DIJALANKAN
            },
            //KETIKA TERJADI PERUBAHAN VALUE DARI SEARCH BOX
            search() {
                this.getHomes(this.search) //FUNGSI INI DIJALANKAN
            }
        },

        methods: {
            ...mapActions('home', ['getHomes', 'editHome']), //MEMANGGIL FUNGSI YANG ADA DI STORE JOB SEEKER
            
            //FUNGSI DELETE YANG AKAN DIBAHAS NANTINYA
            ikutUjian(id) {
                this.$swal({
                    title: 'Kamu Yakin?',
                    text: "Jika anda menekan tombol ini, anda harus menyelesaikan ujian sampai selesai",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Iya, Lanjutkan!'
                }).then((result) => {
                    if (result.value) {
                        this.editHome(id).then((response) => {
                            this.$swal(
                                'Berhasil!',
                                'Selamat Ujian...',
                                'success'
                                )
                            this.$router.push({ name: 'ujiantestiq', params: {id: response.id} })
                        })
                    }
                })
            },

            langsungUjian(id){
                this.$swal({
                    title: 'Ujian sedang Berlangsung?',
                    text: "Apakah anda ingin melanjutkan Ujian...?",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Iya, Lanjutkan!'
                }).then((result) => {
                    if (result.value) {
                        this.$router.push({ name: 'ujiantestiq', params: {id: id} })
                    }
                })
            },

            handleCountdownEnd: function () {
                this.counting = false;
            },

            transform(props) {
                Object.entries(props).forEach(([key, value]) => {
                // Adds leading zero
                const digits = value < 10 ? `0${value}` : value;

                // uses singular form when the value is less than 2
                //const word = value < 2 ? key.replace(/s$/, '') : key;

                //props[key] = `${digits} ${word}`;
                props[key] = `${digits}`;
                });

                return props;
            }
        }
    }
</script>