<!-- HTML SECTION -->
<template>
    <div class="container">
        <div class="login-box">
            <div class="login-logo">
                <router-link :to="{ name: 'home' }"><b>Test</b>Online</router-link>
            </div>
            <div class="login-box-body">
                <form>
                    <p class="login-box-msg">Sign in to start your session</p>

                    <div class="form-group has-feedback" :class="{'has-error': errors.username}">
                        <input type="text" class="form-control" placeholder="Username" v-model="data.username">
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        <p class="text-danger" v-if="errors.username">{{ errors.username[0] }}</p>
                    </div>
                    <div class="form-group has-feedback" :class="{'has-error': errors.password}">
                        <input type="password" class="form-control" placeholder="Password" v-model="data.password">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        <p class="text-danger" v-if="errors.password">{{ errors.password[0] }}</p>
                    </div>
                    <div class="alert alert-danger alert-dismissible" v-if="errors.invalid" id="error-message-login">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ errors.invalid }}
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" v-model="data.remember_me"> Remember Me
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <button type="submit" class="btn btn-success btn-block" @click.prevent="postLogin" id="btn-login-form">
                                <i class="fa fa-sign-in"></i> Login
                            </button>
                            <a class="disabled btn btn-success btn-block" disable id="btn-login-form-disabled">
                                <i class="fa fa-spinner fa-pulse"></i> Please wait..
                            </a>
                        </div>
                    </div>

                    <a href="#">I forgot my password</a><br>
                </form>
            </div>
        </div>
    </div>
</template>

<!-- JAVASCRIPT SECTION -->
<script>
import { mapActions, mapMutations, mapGetters, mapState } from 'vuex';

export default {
    data() {
        return {
            data: {
                username: '',
                password: '',
                remember_me: false
            }
        }
    },

    //SEBELUM COMPONENT DI-RENDER
    created() {
        //KITA MELAKUKAN PENGECEKAN JIKA SUDAH LOGIN DIMANA VALUE isAuth BERNILAI TRUE
        if (this.isAuth) {
            //MAKA DI-DIRECT KE ROUTE DENGAN NAME home
            this.$router.push({ name: 'home' })
        }
    },

    computed: {
        ...mapGetters(['isAuth']), //MENGAMBIL GETTERS isAuth DARI VUEX
      	...mapState(['errors'])
    },

    methods: {
        ...mapActions('auth', ['submit']), //MENGISIASI FUNGSI submit() DARI VUEX AGAR DAPAT DIGUNAKAN PADA COMPONENT TERKAIT. submit() BERASAL DARI ACTION PADA FOLDER STORES/auth.js
        ...mapActions('user', ['getUserLogin']),
        ...mapMutations(['CLEAR_ERRORS']),

      	//KETIKA TOMBOL LOGIN DITEKAN, MAKA AKAN MEMINCU METHODS postLogin()
        postLogin() {
            //DIMANA TOMBOL INI AKAN MENJALANKAN FUNGSI submit() DENGAN MENGIRIMKAN DATA YANG DIBUTUHKAN
            this.submit(this.data).then(() => {
                //KEMUDIAN DI CEK VALUE DARI isAuth
                //APABILA BERNILAI TRUE
                if (this.isAuth) {
                    this.CLEAR_ERRORS()
                    //MAKA AKAN DI-DIRECT KE ROUTE DENGAN NAME home
                    this.$router.push({ name: 'home' })
                }
            });
        }
    },

    destroyed() {
        this.getUserLogin()
    }
}
</script>
