.main-header{
	-webkit-box-shadow: 0 1px 1px #a215ed !important;
	box-shadow: 0 1px 1px #a215ed !important;
}

.textarea-custom1{
	resize: none;
	overflow-y: scroll;
}

#btn-login-form{
	display: block;
}

#btn-login-form-disabled{
	display: none;
}

#btn-submit-form{
	display: block;
}

#btn-submit-form-disabled{
	display: none;
}