<template>
    <footer class="main-footer">
        <div class="container">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.4.0
            </div>
            <strong>Copyright &copy; 2019 <a href="https://m3codes.com">M3codes</a>.</strong> All rights
            reserved.
        </div>
    </footer>
</template>

<script>
export default {
    
}
</script>