<template>
    <header class="main-header">
        <nav class="navbar navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <router-link to="/" class="navbar-brand"><b>Test</b>Online</router-link>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>

                <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><router-link to="/">Home <span class="sr-only">(current)</span></router-link></li>
                        <li class="dropdown" v-if="authenticated.role == 0 || authenticated.role == 1">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">User <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><router-link :to="{ name: 'jobseekers.data' }">Job Seeker</router-link></li>
                            </ul>
                        </li>
                        <li class="dropdown" v-if="authenticated.role == 0 || authenticated.role == 1">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Soal-soal <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><router-link :to="{name: 'soaltestiqs.data'}">Tes IQ</router-link></li>
                                <li><router-link :to="{name: 'QuestionsOfPapiKostickTest.data'}">Tes Papi Kostick</router-link></li>
                            </ul>
                        </li>
                        <li class="dropdown" v-if="authenticated.role == 0">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Settings <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><router-link :to="{name: 'role.permissions'}">Role Permission</router-link></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>

                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="https://cdn3.iconfinder.com/data/icons/business-round-flat-vol-1-1/36/user_account_profile_avatar_person_student_male-512.png" class="user-image" alt="User Image">
                                <span class="hidden-xs">{{ authenticated.name }}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-footer">
                                    <div class="pull-right">
                                        <a href="javascript:void(0)" @click="logout" class="btn btn-danger btn-flat">
                                            <i class="fa fa-sign-out"></i> Sign out
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</template>

<script>
import { mapState } from 'vuex'
export default {
    computed: {
        ...mapState('user', {
            authenticated: state => state.authenticated
        })
    },

    methods: {
        logout() {
            return new Promise((resolve, reject) => {
                localStorage.removeItem('token')
                resolve()
            }).then(() => {
                this.$store.state.token = localStorage.getItem('token')
                this.$router.push('/login')
            })
        }
    }
}
</script>