<template>
	<div class="col-md-12">
        <div class="box box-success">
            <div class="box-header with-border">
                <router-link :to="{ name: 'QuestionsOfPapiKostickTest.add' }" class="btn btn-primary btn-sm btn-flat">
                    <i class="fa fa-plus-circle"></i> Tambah Soal
                </router-link>
                <div class="pull-right">
                    <input type="text" class="form-control" placeholder="Cari..." v-model="search">
                </div>
            </div>
            <div class="box-body">
              	
              	<!-- BAGIAN INI AKAN MENAMPILKAN DATA LIST JOB SEEKER DALAM BENTUK TABLE -->
                <b-table responsive striped hover bordered :items="QuestionsOfPapiKostickTest.data" :fields="fields" show-empty>
                	<template v-slot:cell(index)="data">
                		{{ data.index + 1 }}
                	</template>
                	<template v-slot:cell(first_statement)="row">
                		{{ row.item.first_statement }}
                	</template>

                    <template v-slot:cell(first_aspect)="row">
                        {{ row.item.first_aspect }}
                    </template>

                    <template v-slot:cell(second_statement)="row">
                        {{ row.item.second_statement }}
                    </template>

                    <template v-slot:cell(second_aspect)="row">
                        {{ row.item.second_aspect }}
                    </template>
                    
                    <template v-slot:cell(actions)="row">
						<abbr title="Ubah">
                            <router-link :to="{ name: 'QuestionsOfPapiKostickTest.edit', params: {id: row.item.id} }" class="btn btn-warning btn-sm">
                                <i class="fa fa-pencil"></i>
                            </router-link>
                        </abbr>
                        <abbr title="Hapus">
                            <button class="btn btn-danger btn-sm" @click="deleteQuestion(row.item.id)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </abbr>
					</template>
                    <!--template slot="actions" slot-scope="row">
                        <router-link :to="{ name: 'QuestionsOfPapiKostickTest.edit', params: {id: row.fields.id} }" class="btn btn-warning btn-sm"><i class="fa fa-pencil"></i></router-link>
                        <button class="btn btn-danger btn-sm" @click="deleteQuestion(row.fields.id)"><i class="fa fa-trash"></i></button>
                    </template--> 
                </b-table>
								
              	<!-- BERISI INFORMASI JUMLAH DATA DAN PAGINATION -->
                <div class="row">
                    <div class="col-md-6">
                        <p v-if="QuestionsOfPapiKostickTest.data"><i class="fa fa-bars"></i> {{ QuestionsOfPapiKostickTest.data.length }} item dari {{ QuestionsOfPapiKostickTest.meta.total }} total data</p>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <b-pagination
                                v-model="page"
                                :total-rows="QuestionsOfPapiKostickTest.meta.total"
                                :per-page="QuestionsOfPapiKostickTest.meta.per_page"
                                aria-controls="QuestionsOfPapiKostickTest"
                                v-if="QuestionsOfPapiKostickTest.data && QuestionsOfPapiKostickTest.data.length > 0"
                                ></b-pagination>
                        </div>
                    </div>
                </div>

                <!--div> {{ countDown }}</div-->
            </div>
        </div>
    </div>
</template>
<script>
	import { mapActions, mapState } from 'vuex'

	export default {
	    name: 'DataPapiKostickTest',
	    created() {
	        this.getQuestion() //KETIKA PAGE DI-LOAD, FUNGSI UNTUK MENGAMBIL DATA DIJALANKAN
	        //this.countDownTimer()
	    },
	    data() {
	        return {
	            //FIELD TABLE YANG AKAN DITAMPILKAN DATANYA
	            fields: [
	                { key: 'index', label: 'No' },
	                { key: 'first_statement', label: 'Pernyataan 1' },
	                { key: 'first_aspect', label: 'Aspek 1' },
                    { key: 'second_statement', label: 'Pernyataan 2' },
                    { key: 'second_aspect', label: 'Aspek 2' },
	                
	                { key: 'actions', label: 'Pilihan' }
	            ],
	            search: ''
	            //countDown : 20
	        }
	    },
	    computed: {
	        ...mapState('QuestionsOfPapiKostickTest', {
	            QuestionsOfPapiKostickTest: state => state.QuestionsOfPapiKostickTest //STATE YANG MENYIMPAN DATA SOAL
	        }),

	        //STATE PAGE UNTUK MENGAMBIL DAN MENGUBAH DATA STATE
	        page: {
	            get() {
	                return this.$store.state.QuestionsOfPapiKostickTest.page
	            },
	            set(val) {
	                this.$store.commit('QuestionsOfPapiKostickTest/SET_PAGE', val)
	            }
	        }
	    },

	    watch: {
	        //KETIKA TERJADI PERUBAHAN VALUE DARI PAGE
	        page() {
	            this.getQuestion() //MAKA FUNGSI INI DIJALANKAN
	        },
	        //KETIKA TERJADI PERUBAHAN VALUE DARI SEARCH BOX
	        search() {
	            this.getQuestion(this.search) //FUNGSI INI DIJALANKAN
	        }
	    },

	    methods: {
	        ...mapActions('QuestionsOfPapiKostickTest', ['getQuestion', 'removeQuestion']), //MEMANGGIL FUNGSI YANG ADA DI STORE JOB SEEKER

	        deleteQuestion(id) {
	        	this.$swal({
	        		title: 'Kamu Yakin?',
	        		text: "Tindakan ini akan menghapus secara permanent!",
	        		type: 'warning',
	        		showCancelButton: true,
	        		confirmButtonColor: '#3085d6',
	        		cancelButtonColor: '#d33',
	        		confirmButtonText: 'Iya, Lanjutkan!'
	        	}).then((result) => {
	        		if (result.value) {
	        			this.removeQuestion(id)
	        			this.$swal(
	        				'Deleted!',
	        				'Data berhasil di Hapus.',
	        				'success'
	        				)
	        		}
	        	})
	        },

	        /*countDownTimer() {
                if(this.countDown > 0) {
                    setTimeout(() => {
                        this.countDown -= 1
                        this.countDownTimer()
                    }, 1000)
                } else {
                	alert('panggil tombol');
                }
            }*/
	    }
	}
</script>