<template>
    <div class="col-md-12">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Ubah Soal</h3>
            </div>
            <div class="box-body">
                <form role="form">
                    <soal-form ref="FormEditQuestionOfPapiKostickTest"></soal-form>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button class="btn btn-success btn-md pull-right" @click.prevent="submit">
                                <i class="fa fa-save"></i> Simpan
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
    import { mapActions, mapState } from 'vuex'
    import FormQuestionsOfPapiKostickTest from './Form.vue'
    export default {
        name: 'EditQuestionOfPapiKostickTest',
        methods: {
            submit() {
                this.$refs.FormEditQuestionOfPapiKostickTest.submit()
            }
        },
        components: {
            'soal-form': FormQuestionsOfPapiKostickTest
        }
    }
</script>
