<template>
    <div>
        <div class="row">
            <div class="col-lg-6 col-xs-12 col-sm-12">
                <div class="form-group" :class="{ 'has-error': errors.first_statement }">
                    <label for="first-statement" class="control-label"> 
                        Pernyataan 1 
                    </label>
                    <textarea class="form-control textarea-custom1" v-model="QuestionsOfPapiKostickTest.first_statement" id="first-statement"></textarea>
                    <span class="text-danger" v-if="errors.first_statement">
                        {{ errors.first_statement[0] }}
                    </span>
                </div>
                <div class="form-group" :class="{ 'has-error': errors.first_aspect }">
                    <label for="first-aspect" class="control-label"> 
                        Aspek 1 
                    </label>
                    <input type='text' class="form-control" v-model="QuestionsOfPapiKostickTest.first_aspect" id="first-aspect">
                    <span class="text-danger" v-if="errors.first_aspect">
                        {{ errors.first_aspect[0] }}
                    </span>
                </div>
            </div>
            <div class="col-lg-6 col-xs-12 col-sm-12">
                <div class="form-group" :class="{ 'has-error': errors.second_statement }">
                    <label for="second-statement" class="control-label"> 
                        Pernyataan 2 
                    </label>
                    <textarea class="form-control textarea-custom1" v-model="QuestionsOfPapiKostickTest.second_statement" id="second-statement"></textarea>
                    <span class="text-danger" v-if="errors.second_statement">
                        {{ errors.second_statement[0] }}
                    </span>
                </div>
                <div class="form-group" :class="{ 'has-error': errors.second_aspect }">
                    <label for="second-aspect" class="control-label"> 
                        Aspek 2 
                    </label>
                    <input type='text' class="form-control" v-model="QuestionsOfPapiKostickTest.second_aspect" id="second-aspect">
                    <span class="text-danger" v-if="errors.second_aspect">
                        {{ errors.second_aspect[0] }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'
export default {
    name: 'FormQuestionsOfPapiKostickTest',
    created() {
        if (this.$route.name == 'QuestionsOfPapiKostickTest.edit') {
            this.editQuestion(this.$route.params.id).then((res) => {
                this.QuestionsOfPapiKostickTest = {
                    first_statement: res.data.first_statement,
                    first_aspect: res.data.first_aspect,
                    second_statement: res.data.second_statement,
                    second_aspect: res.data.second_aspect
                }
            })
        }
    },
    data() {
        return {
            QuestionsOfPapiKostickTest: {
                first_statement: '',
                first_aspect: '',
                second_statement: '',
                second_aspect: ''
            }
        }
    },
    computed: {
        ...mapState(['errors'])
    },
    methods: {
        ...mapActions('QuestionsOfPapiKostickTest', ['submitQuestion', 'editQuestion', 'updateQuestion']),
        ...mapMutations('QuestionsOfPapiKostickTest', ['SET_ID_UPDATE']),
        submit() {
            let form = new FormData()
            form.append('first_statement', this.QuestionsOfPapiKostickTest.first_statement)
            form.append('first_aspect', this.QuestionsOfPapiKostickTest.first_aspect)
            form.append('second_statement', this.QuestionsOfPapiKostickTest.second_statement)
            form.append('second_aspect', this.QuestionsOfPapiKostickTest.second_aspect)
            
            if (this.$route.name == 'QuestionsOfPapiKostickTest.add') {
                this.submitQuestion(form)
                .then(() => {
                    this.QuestionsOfPapiKostickTest = {
                        first_statement: '',
                        first_aspect: '',
                        second_statement: '',
                        second_aspect: ''
                    }
                    this.$router.push({ name: 'QuestionsOfPapiKostickTest.data' })
                })
            } else if (this.$route.name == 'QuestionsOfPapiKostickTest.edit') {
                this.SET_ID_UPDATE(this.$route.params.id)
                this.updateQuestion(form).then(() => {
                    this.QuestionsOfPapiKostickTest = {
                        first_statement: '',
                        first_aspect: '',
                        second_statement: '',
                        second_aspect: ''
                    }
                    this.$router.push({ name: 'QuestionsOfPapiKostickTest.data' })
                })
            }
        }
    },
    destroyed() {
        this.QuestionsOfPapiKostickTest = {
            first_statement: '',
            first_aspect: '',
            second_statement: '',
            second_aspect: ''
        }
    }
}
</script>
