<template>
	<div class="col-md-12">
		<!--<button type="button" class="btn btn-block btn-danger btn-lg text-center" :disabled="counting">
			<countdown v-if="counting" :time="time" :transform="transform" @end="handleCountdownEnd">
				<template slot-scope="props">Waktu Sisa: {{ props.hours }}:{{ props.minutes }}:{{ props.seconds }}</template>
			</countdown>
			<span v-else>:: DONE ::</span>
		</button>-->

		<div v-if="instruksi1" class="box box-success color-palette-box">
			<div class="box-header with-border">
				<h3 class="box-title">Tes Papi Kostick</h3>
			</div>
			<div class="box-body">
				<div class="row">
					<div class="col-md-12">
						<h4>Ketentuan Soal:</h4>
						<p>
							PAPI terdiri dari 90 nomor soal pilihan ganda dengan 1 jawaban di setiap nomor dan dapat diselesaikan dalam waktu <a class="text-info">15-20 menit</a>.<br>
							Setiap nomor soal memiliki 2 pernyataan. Kandidat diminta untuk memilih satu diantara kedua pernyataan tersebut yang menggambarkan / sesuai dengan dirinya. <a class='text-info'>Bukan memilih yang dianggap umum atau wajar oleh masyarakat.</a>
						</p>
						<br>
					</div>
					<div class="col-md-offset-4 col-md-4 col-xs-12 text-center">
						<button type="button" class="btn btn-info btn-lg" @click="startingTest()">
							<i class="fa fa-play"></i> Mulai Tes
						</button>
					</div>
				</div>
			</div>
		</div>

		<div v-if="counting">
			<div class="col-md-3">
				<div class='box box-warning'>
					<div class='box-header with-border'>
						<h3 class='box-title'>
							Info
						</h3>
					</div>
					<div class='box-body'>
						<countdown :time="time" :transform="transform" @end="finishingTest">
							<template slot-scope="props"><b>Waktu Sisa : </b> {{ props.hours }}:{{ props.minutes }}:{{ props.seconds }}</template>
						</countdown><br>
						<span>
							<b>Jumlah soal : </b> {{ numberOfQuestions }}
						</span>
					</div>
				</div>
			</div>

			<div class="col-md-9">
				<div v-for="(ujian, index) in ujians">
					<div class="box box-info">
						<div class="box-body">
							<table class='table table-bordered'>
			                	<tr>
			                		<td rowspan='2' align='center' width='10%'>
			                			{{ index+1 }}
			                		</td>
			                		<td align='justify' width='80%'>
			                			{{ ujian.first_statement }}
			                		</td>
			                		<td align='center' width='10%' valign='center'>
	                                    <input type="radio" :name="'answer_'+parseInt(index+1)" :value="ujian.first_aspect">
			                		</td>
			                	</tr>

			                	<tr>
			                		<td align='justify' width='80%'>
			                			{{ ujian.second_statement }}
			                		</td>
			                		<td align='center' width='10%' valign='center'>
	                                    <input type="radio" :name="'answer_'+parseInt(index+1)" :value="ujian.second_aspect">
			                		</td>
							    </tr>
							</table>
						</div>
					</div>
				</div>

				<button type="button" class="btn btn-block btn-success btn-lg text-center" @click="finishingTest">
					<i class="fa fa-check-circle-o"></i> Selesai
				</button>
			</div>
		</div>
		<div v-if="finish">
			<div class="box box-danger color-palette-box">
				<div class="box-header with-border text-center">
					<h3 class="box-title">Selesai</h3>
				</div>
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<p>
								Terima kasih sudah mengikuti ujian ini.<br>
								Silahkan pilih ujian yang lain jika tersedia.<br>
								Tim penilai akan memberi tahu kabarnya kepada Anda.
							</p>
						</div>
						<div class="col-md-12">
							<router-link :to="{ name: 'home' }" class="btn btn-success btn-lg text-center">
								<i class="fa fa-arrow-circle-left"></i> Kembali ke beranda
							</router-link>
						</div>
					</div>
					
				</div>
			</div>
		</div>
    </div>
</template>

<script>
	import { mapActions, mapState } from 'vuex'

	export default {
	    name: 'UjianPapiKostickTest',

	    data: function() {
	    	return {
	    		instruksi: '',
	    		instruksi1: true,
	    		finish: false,
	    		counting: false,
	    		time: 60000,
	    		numberOfQuestions: 0,

	    		fields: [
	                { key: 'index', label: 'No' },
	                { key: 'statement', label: 'Pernyataan' },
	                { key: 'answer', label: 'Jawaban' }
	            ]
	    	}
	    },

	    computed: {
	    	...mapState('home', {
	            ujians: state => state.ujians //STATE YANG MENYIMPAN DATA
	        }),
	    },

	    methods: {
	    	...mapActions('home', ['startTest', 'finishTest', 'getJawaban', 'handleEnd']), //MEMANGGIL FUNGSI YANG ADA DI STORE
		    
		    pilihan(id, jawaban){
	            this.getJawaban({
	            	id: id,
	                jawaban: jawaban
	            })
	            .then(() => {
	            	console.log(id +' saving...')
	            })
		    },

		    handleCountdownEnd: function () {
		    	this.counting = false;
		    	this.time = 0;
		    	this.numberOfQuestions = 0;

		    	if(this.instruksi == 1) {
		    		this.instruksi2 = true
		    	} else if(this.instruksi == 2){
		    		this.instruksi3 = true
		    	} else if(this.instruksi == 3){
		    		this.instruksi4 = true
		    	} else {
		    		this.handleEnd(this.$route.params.id)
			    	.then(() => {
			    		console.log('Selesai...');
			    		this.finish = true
			    	})
		    	}
		    },

		    handleCountdownEnd2: function(){
		    	this.$swal({
                    title: 'Kamu Yakin?',
                    text: "Jika anda menekan tombol ini, anda sudah menyelesaikan ujian tahap ini",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Iya, Lanjutkan!'
                }).then((result) => {
                    this.counting = false;
			    	this.time = 0;
			    	if(this.instruksi == 1) {
			    		this.instruksi2 = true
			    	} else if(this.instruksi == 2){
			    		this.instruksi3 = true
			    	} else if(this.instruksi == 3){
			    		this.instruksi4 = true
			    	} else {
			    		this.handleEnd(this.$route.params.id)
				    	.then(() => {
				    		console.log('Selesai...');
				    		this.finish = true
				    	})
			    	}
                })
		    },

		    transform(props) {
		    	Object.entries(props).forEach(([key, value]) => {
				// Adds leading zero
				const digits = value < 10 ? `0${value}` : value;

				// uses singular form when the value is less than 2
				//const word = value < 2 ? key.replace(/s$/, '') : key;

				//props[key] = `${digits} ${word}`;
				props[key] = `${digits}`;
				});

		    	return props;
		    },

		    startingTest: function () {
		    	this.$swal({
                    title: 'Instruksi',
                    text: "Apakah anda sudah siap menyelesaikan soal-soal berikut ini?",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Iya, Lanjutkan!'
                }).then((result) => {
                    if (result.value) {
                    	this.counting = false;
	    				this.time = 0;
	    				this.numberOfQuestions = 0;

	    				let form = new FormData()
            			form.append('test_list_id', '2')

	    				this.startTest(form)
				    	.then((res) => {
				    		this.$swal(
                                'Selamat!',
                                'Selamat Mengikuti Ujian',
                                'success'
                            )
				    		this.counting = true
				    		this.time = res.countdown
				    		this.numberOfQuestions = res.number_of_questions

				    		if(res.instruction == 1){
					    		this.instruksi1 = false
				    		}

				    		this.instruksi = res.instruction
				    		console.log(res);
				    	})
				    	.catch((error) => {
                			console.log(error);
			            })
                    }
                })
		    },

		    finishingTest: function () {
		    	var answer_collection = [];

		    	for(var i = 0; i < this.numberOfQuestions; i++){
		    		var n = i+1;
		    		var answer = $('input[name="answer_'+n+'"]:checked').val();
		    		if(answer == null){
		    			answer = "";
		    		}
		    		answer_collection[i] = answer;
		    	}

		    	console.log(answer_collection)

		    	let form = new FormData()
    			form.append('test_list_id', '2')
    			form.append('answer', answer_collection)

				this.finishTest(form)
		    	.then((res) => {
		    		this.$swal(
                        'Selesai!',
                        'Terima kasih telah mengikuti ujian',
                        'success'
                    )
		    		this.counting = false;
			    	this.time = 0;
			    	this.numberOfQuestions = 0;
			    	this.instruksi1 = false;
			    	this.finish = true;
		    	})
		    	.catch((error) => {
        			console.log(error);
	            })
		    }
	    }

	}
</script>