<template>
    <div class="col-md-12">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Add New Job Seeker</h3>
            </div>
            <div class="box-body">
                <jobseeker-form ref="formJobSeeker"></jobseeker-form>
                <div class="form-group">
                    <button class="btn btn-success btn-md pull-right" @click.prevent="submit">
                        <i class="fa fa-save"></i> Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import { mapActions, mapState, mapMutations } from 'vuex'
    import FormJobSeeker from './Form.vue'
    export default {
        name: 'AddJobSeeker',
        methods: {
            submit() {
                this.$refs.formJobSeeker.submit()
            }
        },
        components: {
            'jobseeker-form': FormJobSeeker
        }
    }
</script>