<template>
	<div class="col-md-12">
		<div v-if="scorelists_is_exist">
			<div v-for="(scorelist, index) in scorelists">
				<div class="box box-success">
					<div class="box-header with-border">
						<h3 class="box-title"> Hasil {{ scorelist.test_list_name }}</h3>
					</div>
					<div class="box-body">
						<p>
							<b>Jumlah soal : </b> {{ scorelist.test_list_number_of_questions }}<br>
							<b>Batas waktu : </b> {{ setTimesToMinutes(scorelist.test_list_time_limit) }} menit<br>
							<b>Status Pengerjaan : </b> 
							<span class='label label-info' v-if="scorelist.status == 0">
                                Belum dikerjakan
                            </span>
                            <span class='label label-success' v-else-if="scorelist.status == 1">
                                Sedang berlangsung
                            </span>
                            <span class='label label-warning' v-else-if="scorelist.status == 2">
                                Selesai
                            </span>
                            <div v-if="scorelist.status == 2">
	                            <hr>
	                            <h4>Penilaian</h4>

	                            <div class="row">
		                            <iq-test-layer v-if="scorelist.test_list_id == 1">
		                            </iq-test-layer>

		                            <papi-kostick-test-layer v-if="scorelist.test_list_id == 2" v-bind:answersCollection="scorelist.answers">
		                            </papi-kostick-test-layer>

		                            <disc-test-layer v-if="scorelist.test_list_id == 3">
		                            </disc-test-layer>

		                            <admin-test-layer v-if="scorelist.test_list_id == 4">
		                            </admin-test-layer>

		                            <typing-test-layer v-if="scorelist.test_list_id == 5">
		                            </typing-test-layer>

		                            <kraepelin-test-layer v-if="scorelist.test_list_id == 6">
		                            </kraepelin-test-layer>

	                            </div>
	                        </div>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div v-else>
			<div class="box box-success color-palette-box">
				<div class="box-header with-border">
					<h3 class="box-title"> Penilaian </h3>
				</div>
				<div class="box-body">
					<p>
						Belum ada tes yang dipilih untuk Job Seekers
					</p>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

import IQ from './AssessmentLayer/IQ.vue'
import PapiKostick from './AssessmentLayer/PapiKostick.vue'
import DISC from './AssessmentLayer/DISC.vue'
import Administration from './AssessmentLayer/Administration.vue'
import Typing from './AssessmentLayer/Typing.vue'
import Kraepelin from './AssessmentLayer/Kraepelin.vue'

export default {
	name: 'AssessmentJobSeekers',

	created() {
		this.viewScoresOfTestLists(this.$route.params.id)
		.then((res) => {
			this.scorelists_is_exist = true
		})
		.catch((error) => {
			this.scorelists_is_exist = false
			console.log(error);
        })
	},

	data() {
		return {
			scorelists_is_exist: false,
		}
	},

	computed: {
        ...mapState('jobseeker', {
            scorelists: state => state.scorelists //STATE YANG MENYIMPAN DATA
        })
    },
    
    components: {
	    'iq-test-layer': IQ,
	    'papi-kostick-test-layer': PapiKostick,
	    'disc-test-layer': DISC,
	    'admin-test-layer': Administration,
	    'typing-test-layer': Typing,
	    'kraepelin-test-layer': Kraepelin
    },

	methods: {
		...mapActions('jobseeker', ['viewScoresOfTestLists']),

        setTimesToMinutes(val){
            var minutes = parseInt(val/60);
            return parseInt(minutes)+" Menit";
        }
	}
}
</script>