<template>
    <div>
        <div class="form-group" :class="{ 'has-error': errors.name }">
            <label for="">Nama Lengkap</label>
            <input type="text" class="form-control" v-model="jobseeker.name">
            <p class="text-danger" v-if="errors.name">{{ errors.name[0] }}</p>
        </div>
        <div class="form-group" :class="{ 'has-error': errors.username }">
            <label for="">Username</label>
            <input type="text" class="form-control" v-model="jobseeker.username">
            <p class="text-danger" v-if="errors.username">{{ errors.username[0] }}</p>
        </div>
        <div class="form-group" :class="{ 'has-error': errors.email }">
            <label for="">Email</label>
            <input type="email" class="form-control" v-model="jobseeker.email">
            <p class="text-danger" v-if="errors.email">{{ errors.email[0] }}</p>
        </div>
        <div class="form-group" :class="{ 'has-error': errors.password }">
            <label for="">Password</label>
            <input type="password" class="form-control" v-model="jobseeker.password">
            <p class="text-warning">Leave blank if you don't want to change password</p>
            <p class="text-danger" v-if="errors.password">{{ errors.password[0] }}</p>
        </div>
        <div class="form-group" :class="{ 'has-error': errors.photo }">
            <label for="">Foto</label>
            <input type="file" class="form-control" accept="image/*" @change="uploadImage($event)" id="file-input">
            <p class="text-warning">Leave blank if you don't want to change photo</p>
            <p class="text-danger" v-if="errors.photo">{{ errors.photo[0] }}</p>
        </div>
    </div>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'
export default {
    name: 'FormJobSeeker',
    created() {
        //this.getOutlets() //KETIKA HALAMAN DI-LOAD, FUNGSI UNTUK MENGAMBIL DATA OUTLETS DIJALANKAN
      
        //KETIKA PAGE YANG SEDANG BERJALAN ADALAH PAGE EDIT
        if (this.$route.name == 'jobseekers.edit') {
            //MAKA FUNGSI UNTUK MENGAMBIL DATA YANG AKAN DIEDIT DIJALANKAN BERDASARKAN PARAMETER ID YANG ADA DI URL
            this.editJobSeeker(this.$route.params.id).then((res) => {
                //RESPON YANG DITERIMA AKAN DIMASUKKAN KEDALAM ATTRIBTUE JOB SEEKER 
                this.jobseeker = {
                    name: res.data.name,
                    username: res.data.username,
                    email: res.data.email,
                    password: '',
                    photo: ''
                }
            })
        }
    },
    data() {
        return {
            jobseeker: {
                name: '',
                username: '',
                email: '',
                password: '',
                photo: ''
            }
        }
    },
    computed: {
        ...mapState(['errors']),
        /*...mapState('outlet', {
            outlets: state => state.outlets //MENGAMBIL DATA OUTLETS
        })*/
    },
    methods: {
        //...mapActions('outlet', ['getOutlets']), //MENDEFINISIKAN FUNGSI getOutlets
        ...mapActions('jobseeker', ['submitJobSeeker', 'editJobSeeker', 'updateJobSeeker']), //MENDEFINISIKAN FUNGSI submitJobSeeker, editJobSeeker, dan updateJobSeeker
        ...mapMutations('jobseeker', ['SET_ID_UPDATE']), //MEMANGGIL MUTATIONS
        //KETIKA TERJADI PENGINPUTAN GAMBAR, MAKA FILE TERSEBUT AKAN DI ASSIGN KE DALAM jobseeker.photo
        uploadImage(event) {
            this.jobseeker.photo = event.target.files[0]
        },
        //KETIKA TOMBOL ADD NEW DITEKAN MAKA AKAN MENJALAN FUNGSI DIBAWAH
        submit() {
            //DIMANA UNTUK MENGUPLOAD GAMBAR HARUS MENGGUNAKAN FORMDATA
            let form = new FormData()
            form.append('name', this.jobseeker.name)
            form.append('username', this.jobseeker.username)
            form.append('email', this.jobseeker.email)
            form.append('password', this.jobseeker.password)
            form.append('photo', this.jobseeker.photo)

            //KETIKA HALAMAN ADD KURIR YANG DI AKSES
            if (this.$route.name == 'jobseekers.add') {
                //MAKA AKAN MENJALANKAN FUNGSI submitJobSeeker
                this.submitJobSeeker(form).then(() => {
                    //KEMUDIAN FORM DI KOSONGKAN
                    this.jobseeker = {
                        name: '',
                        username: '',
                        email: '',
                        password: '',
                        photo: ''
                    }
                    //DI DIRECT KE HALAMAN LIST DATA JOB SEEKER
                    this.$router.push({ name: 'jobseekers.data' })
                })
            //JIKA YANG DIAKSES HALAMAN EDIT JOB SEEKER
            } else if (this.$route.name == 'jobseekers.edit') {
                //MAKA ID NYA DI ASSING KE STATE ID
                this.SET_ID_UPDATE(this.$route.params.id)
                //DAN FUNGSI updateJobSeeker DIJALANKAN
                this.updateJobSeeker(form).then(() => {
                    //KEMUDIAN FORM DI KOSONGKAN
                    this.jobseeker = {
                        name: '',
                        username: '',
                        email: '',
                        password: '',
                        photo: ''
                    }
                    //DI DIRECT KE HALAMAN LIST DATA KURIR
                    this.$router.push({ name: 'jobseekers.data' })
                })
            }
        }
    }
}
</script>