<template>
    <div class="col-md-12">
        <div class="box box-success">
            <div class="box-header with-border">
                <router-link :to="{ name: 'jobseekers.add' }" class="btn btn-primary btn-sm btn-flat">
                    <i class="fa fa-plus-circle"></i> Tambah
                </router-link>
                <div class="pull-right">
                    <input type="text" class="form-control" placeholder="Cari..." v-model="search">
                </div>
            </div>
            <div class="box-body">
              	
              	<!-- BAGIAN INI AKAN MENAMPILKAN DATA LIST JOB SEEKER DALAM BENTUK TABLE -->
                <b-table striped hover bordered :items="jobseekers.data" :fields="fields" show-empty>
                  
                  <!-- KITA MENGGUNAKAN CUSTOM TEMPLATE KARENA AKAN MENAMPILKAN GAMBAR -->
                    <template v-slot:cell(index)="row">
                        {{ row.index + 1 }}
                    </template>
                    <template v-slot:cell(actions)="row">
                        <router-link :to="{ name: 'jobseekers.edit', params: {id: row.item.id} }" class="btn btn-warning btn-sm">
                            <i class="fa fa-pencil"></i>
                        </router-link>
                        <button class="btn btn-danger btn-sm" @click="deleteJobSeeker(row.item.id)">
                            <i class="fa fa-trash"></i>
                        </button>
                        <button class="btn bg-purple btn-sm" data-toggle="modal" data-target="#modal-test-lists" @click="getTestLists(row.item.id)">
                            <i class="fa fa-check-square-o"></i> Set Ujian
                        </button>
                        <router-link :to="{ name: 'jobseekers.seeAssessment', params: {id: row.item.id} }" class="btn btn-success btn-sm">
                            <i class="fa fa-mortar-board">
                        </i> Hasil </router-link>
                    </template>
                </b-table>

                <div class="modal fade" id="modal-test-lists">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Set Ujian</h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <input type="hidden" v-model="testlists.id">

                                    <b-table striped hover bordered :items="testlists.data" :fields="fieldsOfTestLists" show-empty>
                                        <template v-slot:cell(index)="row">
                                            {{ row.index + 1 }}
                                        </template>
                                        <template v-slot:cell(seconds_time_limit)="row">
                                            {{ setTimesToMinutes(row.item.time_limit) }}
                                        </template>
                                        <template v-slot:cell(test_status)="row">
                                            <span class='label label-default' v-if="row.item.test_status == null">
                                                Belum diberikan
                                            </span>
                                            <span class='label label-info' v-else-if="row.item.test_status == 0">
                                                Aktif
                                            </span>
                                            <span class='label label-success' v-else-if="row.item.test_status == 1">
                                                Sedang berlangsung
                                            </span>
                                            <span class='label label-warning' v-else-if="row.item.test_status == 2">
                                                Selesai
                                            </span>
                                        </template>
                                        <template v-slot:cell(actions)="row">
                                            <div class="form-group">
                                                <label>
                                                    <input type="checkbox" 
                                                    name="apply_test[]" :value="row.item.id" :checked="row.item.test_status != null" :disabled="row.item.test_status != null">
                                                </label>
                                            </div>
                                        </template>
                                    </b-table>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="btn btn-success pull-right" type="submit" @click.prevent="submit" id="btn-submit-form">
                                                <i class="fa fa-save"></i> Simpan
                                            </button>
                                            <button class="disabled btn btn-success btn-block pull-right" disable id="btn-submit-form-disabled">
                                                <i class="fa fa-spinner fa-pulse"></i> Please wait..
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
								
              	<!-- BERISI INFORMASI JUMLAH DATA DAN PAGINATION -->
                <div class="row">
                    <div class="col-md-6">
                        <p v-if="jobseekers.data"><i class="fa fa-bars"></i> {{ jobseekers.data.length }} item dari {{ jobseekers.meta.total }} total data</p>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <b-pagination
                                v-model="page"
                                :total-rows="jobseekers.meta.total"
                                :per-page="jobseekers.meta.per_page"
                                aria-controls="jobseekers"
                                v-if="jobseekers.data && jobseekers.data.length > 0"
                                ></b-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
    name: 'DataJobSeeker',
    created() {
        this.getJobSeekers() //KETIKA PAGE DI-LOAD, FUNGSI UNTUK MENGAMBIL DATA DIJALANKAN
    },
    data() {
        return {
            //FIELD TABLE YANG AKAN DITAMPILKAN DATANYA
            fields: [
                { key: 'index', label: 'No' },
                { key: 'name', label: 'Nama Lengkap' },
                { key: 'username', label: 'Username' },
                { key: 'email', label: 'Email' },
                { key: 'actions', label: 'Aksi' }
            ],
            search: '',

            fieldsOfTestLists: [
                { key: 'index', label: 'No' },
                { key: 'name', label: 'Nama Lengkap' },
                { key: 'number_of_questions', label: 'Jumlah Soal' },
                { key: 'seconds_time_limit', label: 'Batas Waktu' },
                { key: 'test_status', label: 'Status' },
                { key: 'actions', label: 'Beri Ujian' }
            ]
        }
    },
    computed: {
        ...mapState('jobseeker', {
            jobseekers: state => state.jobseekers, //STATE YANG MENYIMPAN DATA KURIR
            testlists: state => state.testlists //State yang menyimpan data test lists
        }),

        //STATE PAGE UNTUK MENGAMBIL DAN MENGUBAH DATA STATE
        page: {
            get() {
                return this.$store.state.jobseeker.page
            },
            set(val) {
                this.$store.commit('jobseeker/SET_PAGE', val)
            }
        }

    },

    watch: {
        //KETIKA TERJADI PERUBAHAN VALUE DARI PAGE
        page() {
            this.getJobSeekers() //MAKA FUNGSI INI DIJALANKAN
        },
        //KETIKA TERJADI PERUBAHAN VALUE DARI SEARCH BOX
        search() {
            this.getJobSeekers(this.search) //FUNGSI INI DIJALANKAN
        }
    },

    methods: {
        ...mapActions('jobseeker', ['getJobSeekers', 'removeJobSeeker', 'viewTestList', 'setTestLists']), //MEMANGGIL FUNGSI YANG ADA DI STORE JOB SEEKER

        getTestLists(id){
            this.viewTestList(id)
        },
        
        //FUNGSI DELETE YANG AKAN DIBAHAS NANTINYA
        deleteJobSeeker(id) {
            this.$swal({
                title: 'Kamu Yakin?',
                text: "Tindakan ini akan menghapus secara permanent!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Iya, Lanjutkan!'
            }).then((result) => {
                if (result.value) {
                    this.removeJobSeeker(id)
                    this.$swal(
                        'Deleted!',
                        'Data berhasil di Hapus.',
                        'success'
                        )
                }
            })
        },
        nilaiJobSeeker(id){
            this.$router.push({ name: 'jobseekers.nilai', params: {id: id} })
        },

        setTimesToMinutes(val){
            var minutes = parseInt(val/60);
            return parseInt(minutes)+" Menit";
        },

        submit(){
            var test_lists = [];
            $('input[name="apply_test[]"]:checked').each(function (i) {
                test_lists[i] = $(this).val();
            });

            if(test_lists.length === 0){
                this.$swal({
                    title: 'Gagal',
                    text: "Tes harus dipilih, minimal 1",
                    type: 'warning',
                });
            }else{

                let form = new FormData()
                form.append('user_id', this.testlists.id)
                form.append('test_lists', test_lists)

                this.setTestLists(form).then(() => {
                    this.$swal({
                        title: 'Berhasil',
                        text: "Daftar ujian telah dipilih",
                        type: 'success',
                    });
                })
            }
        }
    }
}
</script>