<template>
	<div class="container">
		<div class="box box-default color-palette-box">
			<div class="box-header with-border">
				<h3 class="box-title"> PENILAIAN TEST IQ</h3>
			</div>
			<div class="box-body">
				<div class="col-md-6">
					<form class="form-horizontal">
						<div class="box-body">
							<div class="form-group">
								<label class="col-sm-3 control-label">Jumlah Soal</label>
								<div class="col-sm-9">
									<label class="control-label">: {{ testiq.jumlah }}</label>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-3 control-label">Benar</label>
								<div class="col-sm-9">
									<template v-if="testiq.benar == null">
										<label class="control-label">: <i>Data Kosong</i></label>
									</template>
									<template v-else>
										<label class="control-label">: {{ testiq.benar }} Soal</label>
									</template>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-3 control-label">Salah</label>
								<div class="col-sm-9">
									<template v-if="testiq.salah == null">
										<label class="control-label">: <i>Data Kosong</i></label>
									</template>
									<template v-else>
										<label class="control-label">: {{ testiq.salah }} Soal</label>
									</template>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-3 control-label">Score</label>
								<div class="col-sm-9">
									<label class="control-label">: {{ testiq.score }}</label>
								</div>
							</div>
							
						</div>
						<!-- /.box-body -->
						<div class="box-footer">
							<template v-if="testiq.score == 0 && temps.length > 0">
								<button @click.prevent="proses" class="btn btn-info"> Proses </button>
							</template>
						</div>
						<!-- /.box-footer -->
					</form>
				</div>
				<div class="col-md-6">
					<template v-if="temps.length > 0">
						<p>Jawaban User</p>
						<p>
							<template v-for="temp in temps">
								<span class="label " :class="temp.jawaban == temp.jawaban_benar ? 'label-success' : 'label-danger' "> {{ temp.soaltestiq_id }}: {{ temp.jawaban }} => {{ temp.jawaban_benar }} ({{temp.pernyataan}}) </span> &nbsp; &nbsp; 
							</template>
						</p>
					</template>
					<template v-else>
						<h3>:: User Belum Mengikuti Ujian ::</h3>
					</template>
				</div>
			</div>
		</div>

		<div class="box box-default color-palette-box">
			<div class="box-header with-border">
				<h3 class="box-title"> PENILAIAN LAINNYA</h3>
			</div>
			<div class="box-body">
				<div class="col-md-6">
					<p>testing</p>
				</div>
				<div class="col-md-6">
					<p>testing3</p>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { mapActions, mapState } from 'vuex'

	export default {
		name: 'NilaiJobSeekers',

		created() {
			this.penilaianTestIQ(this.$route.params.id).then((res) => {
                //RESPON YANG DITERIMA AKAN DIMASUKKAN KEDALAM ATTRIBTUE JOB SEEKER 
                this.testiq = {
                    jumlah: res.data.jumlah,
                    benar: res.data.benar,
                    salah: res.data.salah,
                    score: res.data.score
                },
                this.temps = res.temp
            })
		},

		data() {
			return {
				testiq: {
					jumlah: '',
					benar: '',
					salah: '',
					score: ''
				},
				temps: []
			}
		},

		methods: {
			...mapActions('soaltestiq', ['penilaianTestIQ', 'prosesTestIQ']),

			proses() {
	            this.$swal({
	                title: 'Kamu Yakin?',
	                text: "Tindakan ini akan melakukan proses Penilaian Test IQ secara permanent!",
	                type: 'warning',
	                showCancelButton: true,
	                confirmButtonColor: '#3085d6',
	                cancelButtonColor: '#d33',
	                confirmButtonText: 'Iya, Lanjutkan!'
	            }).then((result) => {
	                if (result.value) {
	                    this.prosesTestIQ(this.$route.params.id)
	                    this.$swal(
	                        'Proses!',
	                        'Data Test IQ berhasil di Proses.',
	                        'success'
	                        )
	                    this.$router.push({ name: 'jobseekers.data' })
	                }
	            })
	        },
		}
	}
</script>